
#mainHeding-search-hotel {
    padding-top: 0px;
    width:100%;
    height: 109px;
    display: flex;


}

#mainHeding-search-hotel div {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60px;
}
#mainHeding-search-hotel div:nth-of-type(1) {
    flex-basis: 10%;
    height: 80px;

}
#mainHeding-search-hotel div:nth-of-type(2) {
    flex-basis: 40%;
    height: 90px;

}
#mainHeding-search-hotel div:nth-of-type(3) {
    flex-basis:20% ;
    height: 90px;

}

#mainHeding-search-hotel div:nth-of-type(4) {
    flex-basis: 29%;
    height: 80px;
    padding-left: 4px!important;

}


#mainHeding-search-hotel-list {
    padding-top: 20px;
    padding-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    overflow: hidden;
    line-height: .5rem;
}
#mainHeding-search-hotel-list div:nth-of-type(1) {
    flex-basis: 100%;
    height: 20px;
}
#mainHeding-search-hotel-list div:nth-of-type(2) {
    flex-basis: 100%;
    height: 20px;
}
#mainHeding-search-hotel-list div:nth-of-type(3) {
    flex-basis: 100%;
    height: 20px;


}



#column-4th-colomn-search {
    padding-top: 8px;
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background: #F7F7F9;
    /*box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25);*/
    border-radius: 10px;
}
.accordian-margin-padding
{
    margin-right: 15px !important;
    margin-left: 15px !important;
    margin-bottom: 24px !important;
    /* padding: 6px; */
    /* padding-left: 8px; */
    /* padding-bottom: 6px; */
    padding-right: 6px;
}

#column-4th-colomn-search div:nth-of-type(1) {
    flex-basis: 100%;

    height: 0px;
}
#column-4th-colomn-search div:nth-of-type(2) {
    flex-basis: 100%;
    height: 4px;
    text-align: left;
}
#column-4th-colomn-search div:nth-of-type(3) {
    flex-basis: 100%;
    height: 10px;
    text-align: left;
    font-size: 16px;
}


#column-listing-search {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    overflow: hidden;
}


#column-listing-search div:nth-of-type(1) {
    flex-basis: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
    text-align: right;
}

#column-listing-search div:nth-of-type(2) {
    margin-top: 20px;
    flex-basis: 100px;
    height: 60px;
}

#column-listing-search div:nth-of-type(3) {
    flex-basis: 40px;
    margin-top: -5px;
    margin-bottom: 20px;
    height: 60px;
    margin-left: 7px;
    text-align: right;
}

#list-row-flex
{ margin-top: 0;
    margin-bottom: 20px;
    display: flex;



}



#list-row-flex div:nth-of-type(1) {
    height: 10px;


}
#list-row-flex div:nth-of-type(2) {
    height: 10px;


}
#list-row-flex div:nth-of-type(3) {
    height: 10px;

}
#list-row-flex div:nth-of-type(4) {
    height: 10px;


}
.margin-left-check-box
{
    margin-left: 15px !important;
}
.checkbox-length
{
    margin-left: 15px;
    margin-top: 15px;
    padding: 6px;
    display: flex;
    width: 870px;
}
.action-icons .icon-header { justify-content: space-between; }


.dropbtn-search {


    border: #86cfda;
    cursor: pointer;
}



#myInputSearch {
    box-sizing: border-box;
    background-image: url(searchicon.png);
    background-position: 6px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 10px 7px 9px 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    height: 34px;
    width: 226px;
}

#myInputSearch:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content-search {
    /*display: none;*/
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content-search a {
    color: black;
    padding: 4px 10px;
    text-decoration: none;
    display: block;
    font-size: 13px;

}

#x {
    position: relative;
    float: right;
    /*top: -10px;*/
    /*right: -10px;*/
}

.overlay {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    margin-left: 25%;
    margin-top: 4%;
    margin-right: 5%;
    overflow-x: hidden;
    /*display: none;*/

    transition:  0.5s ease-out;

}

.overlay2 {

    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color:#FFFFFF;
    overflow-x: hidden;
    display: none;

}

.main-filter-overlay
{
    /*transition: 0.1s;*/
    background-color: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    /*justify-content: center;*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*margin-left: 15%;*/
    /*        margin-top: 4%;*/
    /*        margin-right: 5%;*/
    overflow-x: hidden;
    display: none;
}
.badge-css
{
    background:#FFEFC3 ;
    color:#AF8E33 ;
}

dropdown-content-search {
    /*display: none;*/
    z-index: 100;
}

.scroll-search-filer
{
    max-height: 600px;
    overflow-y: scroll !important;
}
.scroll-search-filer::-webkit-scrollbar {
    width: 12px;
}

.filter-card-list-slect{
    margin-right: 10px;
    border-radius: 10px !important;
    height:150px;
    background-color: #ffffff !important;
    /*margin-top: -2px;*/
    margin-right: 25px !important;
    margin-left: 19px !important;
    margin-bottom: 24px !important;
    padding:6px;

}

.filter-card-list{
    /*border-box:0px solid rgba(0,0,0,.125) !important;*/
    /*position: sticky;*/

    margin-right: 10px;
    border-radius: 10px !important;
    height:auto !important;
    background-color: #ffffff !important;
    margin-top: -2px;
    margin-right: 15px !important;
    margin-left: 15px !important;
    margin-bottom: 24px !important;
    /*padding:6px;*/
    padding-left: 8px;
    padding-bottom: 6px;
    padding-right: 6px;
}

.scroll-search-filer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.scroll-search-filer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.dropdown-content-search{
    height: fit-content;
    margin-left: -106px;
    margin-top: 6px;
    display: none
}


.image-width-height
{
    width: 21px;
    height: 22px;
    cursor: pointer;
}
.image-width-height-2
{
    width: 25px;
    height: 26px;
    cursor: pointer;
}


#flex-row-search {

    width: 140px;
    height: 30px;
    display: flex;

    flex-direction: row-reverse;

}

#flex-row-search div {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25px;
}
#flex-row-search div:nth-of-type(1) {
    margin-left: 5px;
    width: 30px;
    height: 100px;
    text-align: left;

}
#flex-row-search div:nth-of-type(2) {
    width: 30px;
    height: 90px;
    text-align: left;
}
#flex-row-search div:nth-of-type(3) {
    width: 30px;
    height: 90px;
    float: right;
}
#flex-row-search div:nth-of-type(4) {
    width: 30px;
    height: 90px;
    float: left;
}
.buttonSaveFilter
{

    background-color: #586ADA;
    color: #ffffff;
    height: 31px;
    width: 158px;
    font-family: Bw-Mitga-regular;
    font-style: normal;
    font-size: 12px;
    border: 0.5px solid #586ADA;
    border-radius: 10px;
    margin-top: 12px;


}

.search-anchor {

    margin: 6px;
    /*font-family:"cursive";*/
    text-align: start;
    font-family: Bw-Mitga-regular;
    font-style: normal;
    font-size: 11px;
    color: black !important;
    font-weight: 400;
    border: 0.0px solid #E40968 !important;
    box-shadow: 10px 10px -14px 14px #e3e3e3;
}

#flex-icons {

    width:100%;
    height: 30px;
    display: flex;
    margin-top: 22px;
    flex-wrap: wrap;
    text-align: center;
}

#flex-icons div {
}
#flex-icons div:nth-of-type(1) {
    margin-left: 5px;
    width: 140px;
    overflow: hidden;

    text-align: center;
}
#flex-icons div:nth-of-type(2) {
    width: 240px;

    overflow: hidden;
    text-align: center;
}
#flex-icons div:nth-of-type(3) {
    width: 276px;

    overflow: hidden;
}
#flex-icons div:nth-of-type(4) {

    width: 208px;
    text-align: center;
}
#flex-icons div:nth-of-type(5) {
    text-align: center;
    width: 100px;

}
.shadow-search-drop
{
    box-shadow: 10px 10px 10px 5px white;
}

.drop-list:hover, .dro:focus {
    background-color: #586ADA;
    color: #FFFFFF !important;

}