.pagination-wrapper {
    margin: 40px 0 0;
    .pagination {
        justify-content: center;
        display: flex;
        align-items: center;
        button {
            background: none;
            border: none;
            padding: 0;
            color: #adadad;
            font-size: 18px;
            margin: 0 7px;
            padding: 3px 10px 5px;
        }
        .active {
            color: #fff;
            @include border-radius(18px);
        }
    }
}

@media (max-width:767px) {
    .pagination-wrapper {
        .pagination {
            button {
                font-size: 13px;
                margin: 0 2px;
                img {
                    width: 10px;
                }
            }
        }
    }
}

@media (max-width:480px) {
    .pagination-wrapper {
        .pagination {
            .page-number {
                display: none;
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    display: block;
                }
                &:nth-last-child(2) {
                    display: block;
                }
            }
        }
    }
}