// BOF Colors
$primary-color: #E67612;
$secondary-color: #FFAF66;
$color-white: #fff;
$bg-color: #040404;
$common-gradient: linear-gradient(270deg, #FFAF66 -0.77%, #E67612 100%);
;
// EOF Colors
// BOF Fonts
// BOF Primary Font
$primary-font-light: 'sofia_prolight';
$primary-font-regular: 'sofia_proregular';
$primary-font-medium: 'sofia_promedium';
$primary-font-bold: 'sofia_probold';
$primary-font-black: 'sofia_problack';
// EOF Primary Font
// BOF Secondary Font
$secondary-font-regular: 'athelasregular';
$secondary-font-bold: 'athelasbold';
// EOF Secondary Font
// EOF Fonts