@import "../partials/partials";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Outfit:wght@400;500;600;700&display=swap');

$font-bold: 'Bw-Mitga-bold';

:root {
    --outfit: 'Outfit', sans-serif;
    --DMSans: 'DM Sans', sans-serif;
}

.color-blue {
    color: #831BEE !important;
}

.property-images {
    display: flex;
    margin: 0 0 30px;
    align-items: stretch;
    justify-content: space-between;

    .property-large-img {
        width: 65%;
        height: 400px;
        margin: 0 10px 0 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        @include border-radius(10px);
        position: relative;

        .property-name-label {
            top: 15px;
            left: 15px;
            padding: 15px;
            font-size: 12px;
            color: #831BEE;
            line-height: 16px;
            position: absolute;
            background: #F3E8FD;
            font-family: $font-bold;
            @include border-radius(8px);
        }
    }

    .small-icons-wrapper {
        width: 35%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 400px;
        position: relative;

        // .show-all-photos {
        //     bottom: 15px;
        //     right: 15px;
        //     padding: 15px;
        //     font-size: 14px;
        //     color: #831BEE;
        //     line-height: 16px;
        //     position: absolute;
        //     background: #F3E8FD;
        //     font-family: $font-bold;
        //     @include border-radius(8px);
        //     border: 1px solid #831BEE;
        //     text-align: center;
        //     min-width: 270px;
        //     cursor: pointer;

        //     img {
        //         margin: -3px 0 0;
        //     }
        // }

        .small-icon-single {
            width: 49%;
            margin: 0 5px 10px 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            @include border-radius(10px);

            &:nth-child(2n+2) {
                margin-right: 0;
            }

            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 0;
            }
        }
    }
}

.property-details-header {
    border-bottom: 1px solid #D4D4D4;
    padding: 0 0 15px;
    margin: 0 0 15px;
}

.hotel-category-wrapper {
    margin: 0 0 10px;

    .hotel-category {
        font-size: 12px;
        color: #D6A20A;
        font-weight: 500;
        padding: 10px 20px;
        display: inline-block;
        background: #FFFAD6;
        letter-spacing: 0.5px;
        font-family: var(--outfit);
        @include border-radius(4px);
    }
}

.property-name {
    margin: 0 0 10px;
    font-size: 15px;
    line-height: 20px;
    font-family: var(--outfit) !important;
    color: #0A0A0A;
}

.property-location {
    font-size: 12px;
    font-weight: 400;
    color: #747474;
    font-family: var(--outfit);
    margin: 0 0 5px;

    img {
        width: 13px;
        margin: -2px 0 0;
    }
}

.property-mail {
    color: #636FD4;
    font-size: 12px;
    font-family: var(--outfit);
    margin: 0;
}

.details-row {
    border-bottom: 1px solid #D4D4D4;
    padding: 0 0 15px;
    margin: 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .details-single {
        color: #831BEE;
        font-family: var(--outfit);
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        border-right: 1px solid #E8E8E8;
        padding: 0 25px 0 0;
        margin: 0 25px 0 0;

        img {
            margin: -3px 0 0;
        }
    }
}

.facilities-wrapper {
    border-bottom: 1px solid #D4D4D4;
    padding: 0 0 15px;
    margin: 0 0 15px;
}

.facilities-heading {
    font-family: var(--outfit) !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #0A0A0A;
    margin: 0 0 10px;
}

.facilities-list-wrapper {
    ul {
        margin: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;

        .facilities-list {
            width: 50%;
            font-size: 12px;
            padding: 0 15px 10px 0;

            img {
                width: 18px;
                margin: 0 5px 0 0;
            }
        }
    }
}

.room-content-details {
    .room-content-single {
        display: flex;
        margin: 0 0 20px;
        align-items: flex-start;
        justify-content: flex-start;

        figure {
            margin: 0 10px 0 0;

            img {
                width: 20px;
            }
        }

        article {
            h6 {
                margin: 0;
                line-height: 16px;
                font-size: 10px !important;
            }

            h3 {
                margin: 0;
                color: #0A0A0A;
                line-height: 20px;
                font-size: 12px !important;
            }
        }
    }
}

.policy-list {
    margin: 0 0 30px;

    li {
        margin: 0 0 15px;
        font-size: 10px;
        color: #747474;

        img {
            width: 15px;
            margin: -4px 0 0;
        }
    }
}

.property-about {
    p {
        color: #747474;
        margin: 0 0 15px;
        font-size: 14px;
    }
}

.rooms-list-area {
    margin: 40px 0;
    border-bottom: 1px solid #D4D4D4;
    padding: 0 0 20px;

    .rooms-list-single {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        border-bottom: 1px solid #D4D4D4;
        padding: 0 0 20px;
        margin: 0 0 30px;

        &:nth-last-child(1) {
            margin: 0;
            padding: 0;
            border: none;
        }

        .rooms-list-content-single {
            border-right: 1px solid #D4D4D4;
            padding: 0 15px;
            width: 25%;

            &:nth-child(1) {
                padding-left: 0;
            }

            &:nth-last-child(1) {
                border-right: none;
                padding-right: 0;
                width: 20%;
            }
        }

        .aminities-area {
            width: 20%;
        }

        .highlights-area {
            width: 30%;
        }

    }
}

.room-name-details {
    figure {
        position: relative;
        margin: 0 0 20px;

        img {
            width: 100%;
        }
    }

    article {
        h4 {
            color: #0A0A0A;
            font-size: 14px;
            line-height: 16px;
            margin: 0 0 10px;
        }

        h5 {
            color: #747474;
            font-size: 12px;
            line-height: 18px;
            margin: 0;
        }
    }
}

.show-all-photos {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: #FFFFFF;
    border: 1px solid #831BEE;
    @include border-radius(6px);
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 11px;

    img {
        max-width: 18px;
        margin: -1px 3px 0 0;
    }
}

.room-details-heading {
    font-size: 12px;
    color: #0A0A0A;
    font-weight: 600;
    margin: 0 0 10px;
}

.aminities-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    li {
        color: #747474;
        font-size: 12px;
        position: relative;
        padding: 0 0 0 10px;
        margin: 0 10px 0 0;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 7px;
            width: 4px;
            height: 4px;
            @include border-radius(50%);
            background: #747474;
        }
    }
}

.highlights-list {
    li {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        padding: 0 0 0 20px;
        font-size: 12px;
        margin: 0 0 10px;
        white-space: nowrap;
        line-height: 16px;

        img {
            width: 12px;
            left: 0;
            top: 5px;
            position: absolute;
        }

        .strong {
            white-space: normal;
            font-weight: 600;
            line-height: 15px;
            padding: 0 0 0 5px;
        }
    }
}

.room-details-single {
    margin: 0 0 30px;
}

.room-details-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    li {
        font-size: 12px;
        padding: 5px 10px;
        border-right: 2px solid #E8E8E8;

        &:nth-child(1) {
            padding-left: 0;
        }

        &:nth-last-child(1) {
            padding-right: 0;
            border: none;
        }
    }
}

.rating-card {
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    box-shadow: 10px 14px 54px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    margin: 0 0 20px;
    padding: 20px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;

    figure {
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFAD6;
        margin: 0 15px 0 0;
        font-size: 12px;
        text-align: center;
        font-weight: 700;
        @include border-radius(8px);

        img {
            width: 14px;
            margin: -2px 0 0 3px;
        }
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        h3 {
            font-weight: 600;
            color: #0A0A0A;
            font-size: 13px;
            line-height: 20px;
            margin: 0 0 7px;
        }

        h5 {
            color: #747474;
            font-size: 10px;
            line-height: 14px;
            margin: 0;
        }
    }
}

// BOF Accordion
.accordion {
    .card {
        padding: 5px 15px;
        background: #FFFFFF;
        border: 1px solid #D8D8D8 !important;
        box-shadow: 10px 14px 54px rgba(0, 0, 0, 0.06);
        margin: 0 0 20px;
        border-radius: 10px !important;
        -webkit-border-radius: 10px !important;
        -moz-border-radius: 10px !important;
        -ms-border-radius: 10px !important;
        -o-border-radius: 10px !important;

        .card-header {
            padding: 0;
            border: none;
            background: none;

            .btn-header-link {
                min-height: initial;
                line-height: initial;
                padding: 10px 0;
                width: 100%;
                background: none !important;
                color: #333 !important;
                text-align: left;
                font-size: 20px;
                color: #0A0A0A;
                font-family: $font-bold;
                position: relative;
                border-bottom: 1px solid #D8D8D8;

                &:hover,
                &:focus {
                    outline: none;
                    box-shadow: none;
                }

                &::after {
                    position: absolute;
                    content: "";
                    right: 0;
                    top: 12px;
                    width: 10px;
                    height: 10px;
                    border: none;
                    border-left: 1.5px solid #0A0A0A;
                    border-top: 1.5px solid #0A0A0A;
                    @include border-radius(2px);
                    @include transition(all ease 0.5s);
                    @include transform(rotate(45deg));
                }
            }

            .collapsed {
                border-bottom: transparent;

                &::after {
                    @include transform(rotate(-135deg));
                    top: 7px4;
                }
            }

        }

        .card-body {
            padding: 15px 0;
        }
    }
}

.sales-details-wrapper {
    .sales-detail-single {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 0 20px;

        &:nth-last-child(1) {
            margin: 0;
        }

        figure {
            margin: 0 10px 0 0;
            width: 16px;

            img {
                width: 100%;
            }
        }

        article {
            width: calc(100% - 26px);

            h5 {
                color: #747474;
                font-size: 12px;
                line-height: 14px;
                margin: 0 0 5px;
            }

            h4 {
                color: #0A0A0A;
                font-size: 13px;
                line-height: 16px;
                margin: 0;
            }
        }
    }
}

// EOF Accordion

.review-rating-card {
    padding: 0;
    border: none;
    box-shadow: none;
    margin: 0 0 30px;
}

.testimonials-cards-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    .testimonials-card {
        background: #F7F7F7;
        @include border-radius(12px);
        padding: 30px;
        width: 31%;
        margin: 0 2% 2% 0;

        .coma-icon {
            margin: 0 0 15px;
        }

        .testimonials-content {
            border-bottom: 1px solid #D4D4D4;
            margin: 0 0 10px;

            p {
                color: #747474;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}

.testimonial-user-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

    figure {
        width: 50px;
        height: 50px;
        @include border-radius(50%);
        overflow: hidden;
        margin: 0 10px 0 0;

        img {
            width: 100%;
        }
    }

    article {
        width: calc(100% - 60px);
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            color: #0A0A0A;
            font-size: 13px;
            line-height: 16px;
            font-family: $font-bold;
        }

        p {
            color: #747474;
            font-size: 12px;
            line-height: 14px;
            margin: 0;
        }
    }
}

.star-ratings {
    img {
        width: 20px;
    }
}

// BOF Modal CSS
.modal-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .modal-single-img {
        width: 49%;
        height: 300px;
        margin: 0 0 2%;
        overflow: hidden;
        background-position: center center;
        @include border-radius(10px);
        background-repeat: no-repeat;
        background-size: cover;

        img {
            width: 100%;
        }
    }

    .modal-large-img {
        width: 100%;
    }
}

.property-modal {
    .modal-header {
        background: none !important;
        justify-content: flex-start;

        button {
            background: none;
            border: none;

            &:hover,
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .modal-title {
            color: #0A0A0A;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            margin: 15px 0 0 15px;
        }
    }
}

@media (min-width: 1200px) {
    .property-modal {
        max-width: 1100px !important;
    }
}

// EOF Modal CSS