@font-face {
  font-family: "sofia_prolight";
  src: url("../fonts/sofiapro-light-webfont.woff2") format("woff2"), url("../fonts/sofiapro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sofia_proregular";
  src: url("../fonts/sofia_pro_regular-webfont.woff2") format("woff2"), url("../fonts/sofia_pro_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sofia_promedium";
  src: url("../fonts/sofia_pro_medium-webfont.woff2") format("woff2"), url("../fonts/sofia_pro_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sofia_probold";
  src: url("../fonts/sofia_pro_bold-webfont.woff2") format("woff2"), url("../fonts/sofia_pro_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sofia_problack";
  src: url("../fonts/sofiapro-black-webfont.woff2") format("woff2"), url("../fonts/sofiapro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "athelasregular";
  src: url("../fonts/athelas-regular-webfont.woff2") format("woff2"), url("../fonts/athelas-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "athelasbold";
  src: url("../fonts/athelas-bold-webfont.woff2") format("woff2"), url("../fonts/athelas-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CeraProBold";
  src: url("../fonts/cera-pro/CeraProBold.eot");
  src: url("../fonts/cera-pro/CeraProBold.eot") format("embedded-opentype"), url("../fonts/cera-pro/CeraProBold.woff2") format("woff2"), url("../fonts/cera-pro/CeraProBold.woff") format("woff"), url("../fonts/cera-pro/CeraProBold.ttf") format("truetype"), url("../fonts/cera-pro/CeraProBold.svg#CeraProBold") format("svg");
}
* {
  padding: 0;
  margin: 0;
}

/* let's clear some floats */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #F7F8F9;
}

::-webkit-scrollbar-thumb {
  background: #947D6D;
}

::-webkit-scrollbar-thumb:hover {
  background: #947D6D;
}

.table-responsive {
  padding-bottom: 5px;
}
.table-responsive::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.table-responsive::-webkit-scrollbar-track {
  background: #F7F8F9;
}
.table-responsive::-webkit-scrollbar-thumb {
  background: #E67612;
}
.table-responsive::-webkit-scrollbar-thumb:hover {
  background: #ffc300;
}

/* Track */
/* Handle */
/* Handle on hover */
/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding: 4px 0 0 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #361805;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-container .checkmark {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 2px solid #5968DB;
  position: absolute;
  top: 4px;
  left: 0;
  height: 20px;
  width: 20px;
  background: none;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  border: 2px solid #5968DB;
}

/* When the checkbox is checked, add a blue background */
/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.grey-checkbox-wrapper {
  margin-bottom: 0;
  padding: 0;
  top: -15px;
}
.grey-checkbox-wrapper span.checkmark {
  background: #758799;
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.grey-checkbox-wrapper input:checked ~ .checkmark {
  border: none;
}
.grey-checkbox-wrapper .checkmark:after {
  border-color: #E67612;
}

.slidecontainer {
  width: 100%;
}
.slidecontainer .slider {
  margin: 0 !important;
  width: 100%;
}
.slidecontainer .range-value {
  color: #fff;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background: linear-gradient(180deg, #57D8F5 0%, #2A5BDC 100%);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background: linear-gradient(180deg, #57D8F5 0%, #2A5BDC 100%);
  cursor: pointer;
}

.updown-arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
}
.updown-arrow::before, .updown-arrow::after {
  position: absolute;
  content: "";
  border: 4px solid transparent;
}
.updown-arrow::before {
  border-bottom-color: #888888;
  top: 6px;
}
.updown-arrow::after {
  border-top-color: #888888;
  top: 16px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch {
  /* Rounded sliders */
}
.switch input:checked + .slider {
  background: rgba(212, 175, 55, 0.7);
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px rgba(212, 175, 55, 0.7);
}
.switch input:checked + .slider:before {
  transform: translateX(6px);
  -webkit-transform: translateX(6px);
  -ms-transform: translateX(6px);
  -moz-transform: translateX(6px);
  -o-transform: translateX(6px);
}
.switch .slider.round {
  border-radius: 34px;
}
.switch .slider.round:before {
  border-radius: 50%;
}

.custom-select-one,
.custom-select-two,
.custom-select-three {
  display: none;
}

#custom-select-list-one,
#custom-select-list-two,
#custom-select-list-three {
  padding: 5px 0;
}

#custom-select-list-one img,
#custom-select-list-two img,
#custom-select-list-three img,
.drop-btn-select-one img,
.drop-btn-select-two img,
.drop-btn-select-three img {
  width: 22px;
}

#custom-select-list-one li,
#custom-select-list-two li,
#custom-select-list-three li {
  list-style: none;
  padding: 5px 15px;
}

#custom-select-list-one li:hover,
#custom-select-list-two li:hover,
#custom-select-list-three li:hover {
  background: rgba(219, 200, 167, 0.15);
}
#custom-select-list-one li:hover span,
#custom-select-list-two li:hover span,
#custom-select-list-three li:hover span {
  font-family: "Conv_AvenirNextLTPro-Bold";
  color: #D4AF37;
}

#custom-select-list-one li img,
#custom-select-list-two li img,
#custom-select-list-three li img {
  margin: 0;
  width: 20px;
}

#custom-select-list-one li span,
#custom-select-list-two li span,
#custom-select-list-three li span,
.drop-btn-select-one li span,
.drop-btn-select-two li span,
.drop-btn-select-three li span {
  margin-left: 8px;
  position: relative;
  top: 1px;
}

/* item list */
.custom-select-list-wrapper-one,
.custom-select-list-wrapper-two,
.custom-select-list-wrapper-three {
  display: none;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  position: absolute;
  z-index: 99;
  background: #F7F7F7;
  max-width: 100%;
  left: 0;
  right: 0;
}

.open {
  display: show !important;
}

.drop-btn-select-one,
.drop-btn-select-two,
.drop-btn-select-three {
  margin-top: 0px;
  width: 100%;
  max-width: 100%;
  height: 45px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: rgba(219, 200, 167, 0.05);
  border: 1px solid rgba(47, 46, 42, 0.3);
  padding: 8px 15px;
  color: #E67612;
  position: relative;
}
.drop-btn-select-one:before,
.drop-btn-select-two:before,
.drop-btn-select-three:before {
  position: absolute;
  content: "";
  background: #EFEFEF;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  right: 8px;
  top: 8px;
  pointer-events: none;
}
.drop-btn-select-one:after,
.drop-btn-select-two:after,
.drop-btn-select-three:after {
  content: "";
  width: 0;
  height: 0;
  border: 1px solid #E67612;
  width: 10px;
  height: 10px;
  border-right: none;
  border-top: none;
  transform: rotate(-45deg);
  position: absolute;
  top: 13px;
  right: 15px;
  pointer-events: none;
}

.drop-btn-select-one li,
.drop-btn-select-two li,
.drop-btn-select-three li {
  list-style: none;
  float: left;
  padding-bottom: 0px;
}

.drop-btn-select-one:hover li,
.drop-btn-select-two:hover li,
.drop-btn-select-three:hover li {
  margin-left: 0px;
}

.drop-btn-select-one:hover,
.drop-btn-select-one:focus,
.drop-btn-select-two:hover,
.drop-btn-select-two:focus,
.drop-btn-select-three:hover,
.drop-btn-select-three:focus {
  background: #F7F7F7;
  box-shadow: inset 0 0px 0px 1px #ccc;
}

.drop-btn-select-one:focus,
.drop-btn-select-two:focus,
.drop-btn-select-three:focus {
  outline: none;
}

.lang-select-one,
.lang-select-two,
.lang-select-three {
  margin-left: 0px;
  position: relative;
}

.select-with-img .select {
  height: 0;
  display: none;
}
.select-with-img .select .select-styled {
  display: none;
}

.attachment-input {
  position: relative;
}

.custom-file-upload-button {
  width: 100%;
  resize: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  min-height: 45px;
  box-shadow: none;
  padding: 8px 15px;
  color: #E67612;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background: rgba(219, 200, 167, 0.05) url(../img/attachment-icon.svg) no-repeat 95% 10px;
  border: 1px solid rgba(47, 46, 42, 0.3);
}

#file-chosen {
  margin-left: 0.3rem;
  font-family: sans-serif;
  position: absolute;
  top: 14px;
  left: 10px;
  pointer-events: none;
}

.box {
  position: relative;
}
.box::before {
  position: absolute;
  content: "";
  background: #F9F0E5;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  right: 0;
  top: 0;
  pointer-events: none;
  z-index: 1;
}
.box::after {
  content: "";
  width: 0;
  height: 0;
  border: 2px solid #000000;
  width: 8px;
  height: 8px;
  border-right: none;
  border-top: none;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: absolute;
  top: 15px;
  right: 15px;
  pointer-events: none;
  z-index: 2;
}
.box select {
  width: 100%;
  resize: none;
  border: none;
  color: #000;
  font-size: 14px;
  min-height: 40px;
  min-width: 140px;
  padding: 8px 15px;
  background: #F9F0E5;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
.box select option {
  background: #fff;
  color: #0D0D0D;
}
.box .hide-arrow {
  top: 2px;
  right: 2px;
  z-index: 0;
  width: 30px;
  height: 40px;
  position: absolute;
  background: #f1f0ef;
  border-radius: 10px;
  pointer-events: none;
}
.box .hide-arrow-white {
  background: #fff;
}

.form-group {
  margin-bottom: 1.5rem;
}
.form-group label {
  font-size: 16px;
}

.dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -ms-transition: all ease 1s;
  -o-transition: all ease 1s;
}

.dropdown-menu.show {
  display: block;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}

.dropdown-menu {
  min-width: 300px;
  background: #31302E;
  box-shadow: 0px 10px 15px 0px rgba(255, 173, 0, 0.15);
}
.dropdown-menu .dropdown-item {
  margin: 0 0 10px;
  text-transform: capitalize !important;
}
.dropdown-menu .dropdown-item:hover {
  background: #E67612;
  color: #000 !important;
}

/* The container */
.radio-wrapper {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #1E2339;
  font-family: "Bw-Mitga-bold" !important;
  display: flex;
  align-items: center;
  min-height: 30px;
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Show the indicator (dot/circle) when checked */
}
.radio-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-wrapper .checkmark {
  left: 0;
  top: 5px;
  margin: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #E1E5FF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  /* Create the indicator (the dot/circle - hidden when not checked) */
}
.radio-wrapper .checkmark::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #fff;
}
.radio-wrapper:hover input ~ .checkmark {
  background-color: #ccc;
}
.radio-wrapper input:checked ~ .checkmark {
  background-color: #2196F3;
}
.radio-wrapper input:checked ~ .checkmark:after {
  display: block;
}

@media (max-width: 1199px) {
  .chainContainer {
    flex-wrap: wrap;
  }
  .chainContainer .radio-container {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .select-styled {
    font-size: 14px;
  }
}
/* Rectangle Out */
.slick-list {
  padding: 40px 0 60px !important;
}

.slick-slide {
  margin: 0 30px;
  transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -ms-transition: ease 0.5s;
  -o-transition: ease 0.5s;
}

.slick-center {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}
.slick-center .wallet-card {
  background: #2E2E2E75;
  border: 2px solid #DFA940;
}

.wallet-slider {
  margin: 0 0 40px;
  display: inline-block;
  width: 100%;
}
.wallet-slider .slick-prev {
  background: #393939 url(../img/icons/left-arrow.svg) no-repeat center center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  left: 47.5%;
  top: 100%;
}
.wallet-slider .slick-prev::before {
  content: "";
}
.wallet-slider .slick-next {
  background: #393939 url(../img/icons/right-arrow.svg) no-repeat center center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  right: 47.5%;
  top: 100%;
}
.wallet-slider .slick-next::before {
  content: "";
}

.pagination-wrapper {
  margin: 40px 0 0;
}
.pagination-wrapper .pagination {
  justify-content: center;
  display: flex;
  align-items: center;
}
.pagination-wrapper .pagination button {
  background: none;
  border: none;
  padding: 0;
  color: #adadad;
  font-size: 18px;
  margin: 0 7px;
  padding: 3px 10px 5px;
}
.pagination-wrapper .pagination .active {
  color: #fff;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

@media (max-width: 767px) {
  .pagination-wrapper .pagination button {
    font-size: 13px;
    margin: 0 2px;
  }
  .pagination-wrapper .pagination button img {
    width: 10px;
  }
}
@media (max-width: 480px) {
  .pagination-wrapper .pagination .page-number {
    display: none;
  }
  .pagination-wrapper .pagination .page-number:nth-child(1), .pagination-wrapper .pagination .page-number:nth-child(2), .pagination-wrapper .pagination .page-number:nth-child(3), .pagination-wrapper .pagination .page-number:nth-child(4), .pagination-wrapper .pagination .page-number:nth-child(5) {
    display: block;
  }
  .pagination-wrapper .pagination .page-number:nth-last-child(2) {
    display: block;
  }
}
/* (A) BUILD TOOLTIP USING BEFORE PSEUDO-CLASS */
[data-tooltip]::before {
  content: attr(data-tooltip);
}

/* (B) POSITION TOOLTIP */
[data-tooltip] {
  position: relative;
  display: inline-block;
}

[data-tooltip]::before {
  position: absolute;
  z-index: 999;
}

[data-tooltip].top::before {
  bottom: 100%;
  margin-bottom: 10px;
}

[data-tooltip].bottom::before {
  top: 100%;
  margin-top: 10px;
}

[data-tooltip].left::before {
  right: 100%;
  margin-right: 10px;
}

[data-tooltip].right::before {
  left: 100%;
  margin-left: 10px;
}

/* (C) SHOW TOOLTIP ONLY ON HOVER */
[data-tooltip]::before {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

[data-tooltip]:hover::before {
  visibility: visible;
  opacity: 1;
}

/* (D) STYLE THE TOOLTIP */
[data-tooltip] {
  background: #fea;
}

[data-tooltip]::before {
  background: #000;
  color: #fff;
  padding: 5px;
  min-width: 100px;
  text-align: center;
}

/* WIDGET */
.widget-wrap {
  max-width: 500px;
  padding: 0px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
}

.check-container {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  height: 24px;
  line-height: 24px;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Show the checkmark when checked */
}
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-container .checkmark {
  top: 0;
  left: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  background: none;
  position: absolute;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 2px solid #5968DB;
  /* Create the checkmark/indicator (hidden when not checked) */
}
.check-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 7px;
  height: 12px;
  border: solid #5968DB;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.check-container:hover input ~ .checkmark {
  border: 2px solid #5968DB;
}
.check-container input:checked ~ .checkmark:after {
  display: block;
}

.border-none {
  border: none !important;
}

@media (min-width: 576px) {
  .large-modal-wrapper {
    max-width: 1016px !important;
  }

  .medium-modal-wrapper {
    max-width: 850px !important;
  }
}
.popup-title {
  margin: 0;
  font-size: 16px;
  color: #fff;
  font-family: "Bw-Mitga-bold";
}

.day-header {
  margin: 0;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #fff;
  font-family: "Bw-Mitga-bold" !important;
}

.resort-location {
  display: flex;
  align-items: center;
  font-family: var(--primary-font-light);
  font-size: 12px;
  margin: 0 0 5px;
}

.location-name {
  margin: 0 0 0 5px;
  color: #9399a8 !important;
  line-height: 13px;
  font-size: 11px;
}

.resort-peroid {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.resort-peroid-area {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.star-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-left: 1px solid #1E2339;
  margin: 0 0 0 15px;
  padding: 0 0 0 10px;
}

.card-heading-row {
  display: flex;
  align-items: center;
}

.pop-room-content-header {
  border: 1px solid #D2D2D2;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.pop-room-content {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
}
.pop-room-content figure {
  margin: 0 15px 0 0;
}
.pop-room-content article .room-name {
  font-size: 14px;
  color: #1E2339;
  line-height: 20px;
  font-family: "Bw-Mitga-bold" !important;
}

.enquiry-pax {
  max-width: 180px;
  border-left: 1px solid #D2D2D2;
}
.enquiry-pax .enquiry-pax-header {
  text-align: center;
  background: #E1E5FF;
  min-height: 36px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1E2339;
  font-size: 10px;
  font-family: "Bw-Mitga-bold";
}
.enquiry-pax .enquiry-pax-contents-wrapper .icons-group-wrapper {
  min-width: auto;
}

.room-body-wrapper {
  background: none !important;
  margin: 10px 0 0;
}
.room-body-wrapper .table-responsive {
  box-shadow: none;
  background: none !important;
}

.room-pax-table {
  width: 100%;
  box-shadow: none !important;
  background: none !important;
  border: none !important;
}
.room-pax-table thead {
  background: none !important;
}
.room-pax-table thead tr {
  background: none !important;
}
.room-pax-table thead tr th {
  text-align: center;
  padding: 10px 0;
  border: none !important;
}
.room-pax-table tbody {
  background: none !important;
}
.room-pax-table tbody tr {
  background: none !important;
}
.room-pax-table tbody tr td {
  text-align: center;
  padding: 2px 10px 2px 0;
  border: none !important;
  color: #1E2339;
}

.modal-content-scroll tbody tr {
  padding: 0;
}
.modal-content-scroll tbody tr td {
  padding: 5px 10px 5px 0;
}

.td-box {
  border: none;
  font-size: 13px;
  padding: 10px 15px;
  font-family: "Bw-Mitga-bold";
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.td-smal-input {
  max-width: 96px;
  text-align: center;
  padding: 10px 15px;
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.td-smal-input:hover, .td-smal-input:focus {
  box-shadow: none;
  outline: none;
}

.blank-heading {
  border: none;
  font-size: 14px;
  font-family: "Bw-Mitga-bold";
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.red-btn {
  background: #E40968 !important;
}
.red-btn::before {
  background: #b30e55 !important;
}

.grey-btn {
  color: #1E2339 !important;
  background: #E1E5FF !important;
}
.grey-btn::before {
  background: #E1E5FF !important;
}

.two-btn-center {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.popup-bottom {
  margin: 15px 0 0;
}
.popup-bottom button {
  margin: 0 5px;
  font-family: "Bw-Mitga-bold" !important;
}

.enquiry-box-wrapper {
  background: #F0F2FF;
  border-radius: 5px;
  margin: 0 0 20px;
  padding: 15px;
}
.enquiry-box-wrapper .enquiry-box-header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 0 5px;
}

.enquiry-box-single {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background: #fff;
  border: 2px solid #D2D2D2;
  padding: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 40%;
}
.enquiry-box-single:nth-child(2) {
  width: 58%;
}
.enquiry-box-single .enquiry-box-title {
  font-size: 12px;
  color: #1E2339;
  border-right: 2px solid #D2D2D2;
  padding: 10px 15px;
}
.enquiry-box-single .enquiry-box-value {
  font-size: 12px;
  color: #1E2339;
  font-family: "Bw-Mitga-bold";
  padding: 10px 15px;
  flex-grow: 1;
}

.hotel-room-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.hotel-room-wrapper .hotel-details .room-name {
  color: #1E2339;
  font-size: 12px;
  margin: 0 0 5px;
  font-family: "Bw-Mitga-bold";
}
.hotel-room-wrapper .room-details .room-name {
  color: #1E2339;
  font-size: 11px;
  margin: 0 0 5px;
  font-family: "Bw-Mitga-bold";
}

.room-facilities-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.room-facilities-single {
  margin: 0 10px 0 0;
}
.room-facilities-single:nth-last-child(1) {
  margin-right: 0;
}
.room-facilities-single .icons-group-wrapper {
  background: #fff;
  border: 1px solid #D2D2D2;
  padding: 0;
  min-width: auto;
}
.room-facilities-single .icons-group-wrapper .icon-content-single {
  font-family: "Bw-Mitga-regular" !important;
}
.room-facilities-single .colored-box {
  background: #838BC7;
}
.room-facilities-single .colored-box .icon-content-single {
  color: #fff;
}

.header-area {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 10px;
}
.header-area .heading {
  font-size: 11px;
  color: #1E2339;
  margin: 0 15px 0 0;
  font-family: "Bw-Mitga-bold";
}

.header-area-facilities .room-facilities-single {
  display: flex;
  align-items: center;
}
.header-area-facilities .room-facilities-single .icons-group-wrapper {
  margin: 0 15px 0 0;
}

.table-responsive {
  background: var(--white-color) !important;
  box-shadow: none !important;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.table-input {
  max-width: 90px;
  min-width: 80px;
  margin: 2px 10px;
  padding: 7px 10px;
  display: inline-block;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.table-input:hover, .table-input:focus {
  outline: none;
}

input.table-input-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.common-table-area-wrapper .common-table-area {
  border: none !important;
  box-shadow: none;
  width: 100%;
}
.common-table-area-wrapper .common-table-area thead tr th {
  border: 1px solid #F0F2FF;
  border-right: 1px solid #d2d2d2;
  border-bottom: none;
  background: #F0F2FF;
  font-family: "Bw-Mitga-bold" !important;
  color: #1E2339;
  font-size: 13px !important;
  padding: 10px 10px;
}
.common-table-area-wrapper .common-table-area thead tr th:nth-last-child(1) {
  border-right: none;
}
.common-table-area-wrapper .common-table-area tbody tr td {
  border-top: none;
  border: 1px solid #D2D2D2;
}
.common-table-area-wrapper .white-table tbody tr {
  background: none;
}
.no-border-table tbody tr td {
  border: none !important;
}

.info-area {
  margin: 5px 0 0;
}
.info-area .info-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.info-area .info-list h6 {
  color: #1E2339;
  font-size: 13px;
  margin: 0;
}
.info-area .info-list h6 img {
  width: 15px;
  margin: -2px 4px 0 0;
}
.info-area .info-list .icons-group-wrapper {
  min-width: auto;
}
.info-area .info-list .icons-group-wrapper .icon-content-single {
  margin: 0 10px 0 0;
  font-family: "Bw-Mitga-regular";
}

.slab-rate-wrapper {
  margin: 10px 0 0;
}

.table-vertical-scroll {
  max-height: 130px;
  overflow: hidden;
  overflow-y: auto;
}
.table-vertical-scroll .room-pax-table tbody tr td:nth-last-child(1) {
  padding-right: 5px;
}

.data-content .modal .modal-content .modal-header {
  padding: 8px 15px;
}

.td-padding {
  width: 100%;
  padding: 8px 10px;
  display: inline-block;
}

.hotel-rating-text-wrapper {
  margin: 0 0 0 5px;
  padding: 0 0 0 5px;
  border-left: 1px solid #333;
}
.hotel-rating-text-wrapper .hotel-rating-text {
  font-size: 9px;
  padding: 4px 10px;
  white-space: nowrap;
  letter-spacing: 0.2px;
  background: #f0f2ff;
  font-family: "Bw-Mitga-bold";
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.color-navy {
  color: #5968DB !important;
}

.horizontal-align {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.tooltip-wrapper {
  display: inline-block;
  position: relative;
}

.with-stars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 0 20px;
}
.stars img {
  width: 15px;
}

.common-table {
  width: 100%;
}

.action-edit-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.action-edit-icon img {
  width: 30px;
  margin: 0 0 5px 0;
}
.action-edit-icon span {
  text-transform: uppercase;
  font-family: "Bw-Mitga-bold";
  color: #1E2339;
  font-size: 16px;
  text-align: center;
}

.status-text {
  text-transform: uppercase;
  font-family: "Bw-Mitga-bold" !important;
}

.info-note-wrapper {
  display: flex;
  font-size: 12px;
  margin: 15px 0 0;
  align-items: center;
  color: #1E2339;
}
.info-note-wrapper img {
  width: 20px;
  margin: 0 7px 0 0;
}

.resort-details-area figure {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.resort-details-area figure img {
  width: 100%;
  object-fit: cover;
}

.border-none {
  border: none !important;
}

.head-td {
  font-size: 14px;
  background: #E1E5FF !important;
  font-family: "Bw-Mitga-bold" !important;
  font-weight: initial !important;
  padding: 10px 15px !important;
}

.td-input {
  width: 100%;
  min-height: 30px;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #9EA3B8;
}
.td-input:disabled {
  border: none;
  background: none;
}
.td-input:focus, .td-input:hover {
  outline: none;
  box-shadow: none;
}

.room-rates-area-wrapper {
  margin: 0 0 15px;
}

.contets-area-wrapper {
  border: 2px solid #ABB0C1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px;
}

.dates-selected-wrapper {
  display: flex;
  margin: 10px 0 0;
  align-items: stretch;
  justify-content: flex-start;
  border-bottom: 2px solid #ABB0C1;
  padding: 0 0 10px;
}
.dates-selected-wrapper .selected-date-single {
  padding: 7px 10px;
  margin: 0 10px 0 0;
  border: 1px solid #ABB0C1;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.dates-selected-wrapper .selected-date-single .date-name {
  font-size: 8px;
  color: #1E2339;
  text-align: center;
}
.dates-selected-wrapper .selected-date-single .date-number {
  margin: 5px 0;
  font-size: 36px;
  color: #A3A8C6;
  line-height: 30px;
  text-align: center;
  font-family: "Bw-Mitga-bold";
}
.dates-selected-wrapper .selected-date-single .month-year {
  font-size: 9px;
  color: #A3A8C6;
  text-align: center;
}

.table-td {
  font-family: "Bw-Mitga-bold" !important;
  color: #1E2339 !important;
}

.bold-red-value {
  font-family: "Bw-Mitga-bold" !important;
  color: #CF1465 !important;
}

.table-bottom-btns button {
  margin: 0 5px;
}

.yellow-btn {
  background: #d1a71b !important;
}
.yellow-btn:hover {
  background: #ecba16 !important;
}
.yellow-btn:hover::before {
  background: #ecba16 !important;
}

.pop-room-content figure {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.pop-room-content figure img {
  width: 100%;
}

.with-edit-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-btn {
  width: 25px;
  height: 25px;
  border: none;
  margin: 0 0 0 10px;
}
.edit-btn img {
  width: 100%;
}

.lg-value {
  font-size: 16px;
  margin: 0 0 0 10px;
}

.days-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0 5px;
}
.days-container label.checkbox-container {
  margin-top: -7px !important;
}

.tik-icon {
  display: inline-block;
  margin: 0 0 0 8px;
}
.tik-icon img {
  width: 20px;
}

.matching-rooms-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.assigned-text {
  border: 2px solid #5968DB;
  padding: 6px 15px 6px 12px;
  margin: 0 0 10px;
  border-radius: 5px;
  font-size: 14px;
  color: #5968DB;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.assigned-text img {
  width: 28px;
  margin: 0 10px 0 0;
}

.room-label {
  color: #fff;
  font-size: 10px;
  padding: 2px 15px;
  margin: 0 5px 0 0;
  background: #838bc7;
  display: inline-block;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.accordion > .card {
  overflow: visible !important;
}

.filter-dropdown-btn {
  border: 2px solid #ABB0C1;
  padding: 4px 10px 3px;
  color: #3B3B3B;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-family: "Bw-Mitga-bold" !important;
  font-size: 12px;
  background: none;
}

.dropdown-menu {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  padding: 0;
  box-shadow: none !important;
  right: 0;
}
.dropdown-menu .dropdown-item {
  margin: 0 !important;
  text-transform: capitalize !important;
  padding: 5px 15px;
  font-size: 12px;
}
.dropdown-menu .dropdown-item:hover {
  color: #fff !important;
}

.pink-lists .dropdown-item {
  border-bottom: 1px solid #E40968 !important;
}
.pink-lists .dropdown-item:hover {
  color: #fff !important;
  background: #E40968 !important;
}

.filter-select-wrapper .dropdown-menu .dropdown-item:hover {
  color: #fff !important;
  background: #E40968 !important;
}

.daterangepicker .calendar-table th {
  color: #fff;
  border-radius: 0 !important;
}
.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
  border-color: #fff !important;
}
.daterangepicker .calendar-table td.available:hover {
  background-color: #586ada !important;
  border-color: transparent;
  color: #fff;
}
.daterangepicker .calendar-table td.available:hover span {
  border-color: #5968DB !important;
}
.daterangepicker .calendar-table .th.available:hover {
  background-color: #586ada !important;
  border-color: transparent;
  color: #000 !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #586ada !important;
}

.custom-dropdown-wrapper {
  margin: 0;
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.custom-dropdown-wrapper .custom-dropdown-btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F0F2FF;
  padding: 8px 10px;
  color: #1E2339 !important;
  font-family: "Bw-Mitga-bold" !important;
  font-size: 10px;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
.custom-dropdown-wrapper .custom-dropdown-btn img {
  margin: 0 0 0 50px;
  width: 20px;
}
.custom-dropdown-wrapper .custom-dropdown-btn::after {
  border: none !important;
}
.custom-dropdown-wrapper .custom-dropdown-btn:hover {
  background: #F0F2FF !important;
}
.custom-dropdown-wrapper .dropdown-menu {
  padding: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: none;
  top: 0;
}
.custom-dropdown-wrapper .dropdown-menu .dropdown-item {
  background: #fff;
  border-bottom: 1px solid #5968DB;
  font-size: 12px;
  margin: 0;
  padding: 9px 20px 8px;
  min-width: 200px;
  color: #1E2339;
}
.custom-dropdown-wrapper .dropdown-menu .dropdown-item:nth-last-child(1) {
  border-bottom: none;
}
.custom-dropdown-wrapper .dropdown-menu .dropdown-item:hover {
  color: #fff !important;
  background: #5968DB;
}
.custom-dropdown-wrapper .dropdown-menu.show {
  left: auto !important;
  right: 0;
  top: 40px !important;
  transform: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
}

button:hover,
button:focus,
button:active,
button:visited,
button:focus-within,
button:focus-visible,
input:hover,
input:focus,
input:active,
input:visited,
input:focus-within,
input:focus-visible {
  outline: none !important;
}

.tooltip-wrapper {
  display: inline-block;
}

.hovercard {
  left: 50%;
  opacity: 0;
  z-index: 1;
  bottom: 100%;
  margin: 0 0 10px;
  position: absolute;
  pointer-events: none;
  transform: translateX(-35%);
  -webkit-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -o-transform: translateX(-35%);
}
.hovercard::after {
  position: absolute;
  content: "";
  left: 15px;
  bottom: -12px;
  border: 6px solid transparent;
  border-top: 6px solid #575c85;
}

span.hovercard.right-tooltip {
  right: -38px;
  left: initial;
}
span.hovercard.right-tooltip::after {
  left: initial !important;
  right: 10px;
}

.tooltip-link:hover .hovercard {
  opacity: 1;
  transition: all ease 0.5s;
  /* transition: 0.5s; */
  /* transition-delay: 0.1s; */
}

.tooltiptext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #575c85;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  line-height: 15px;
  transition: 1s;
  width: 250px;
  word-break: break-word;
  white-space: normal;
}
.tooltiptext .tooltip-head {
  color: #fff;
  font-size: 14px;
  margin: 0 0 5px;
  text-align: left;
  line-height: 17px;
  font-family: "Bw-Mitga-bold" !important;
}
.tooltiptext .tooltip-para {
  color: #fff;
  font-size: 14px;
  text-align: left;
}

.tooltip-main {
  --tooltip-background: #575c85;
  --tooltip-color: #fff;
  --toolitp-width: 290px;
  --tooltip-padding: 10px 15px;
  --tooltip-zindex: 10;
  --tooltip-tip-width: 10px;
  --tooltip-offset: 15px;
  --tooltip-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  --tooltip-border-radius: 5px;
  position: relative;
  display: inline-block;
}

.tooltip-content {
  visibility: hidden;
  display: block;
  white-space: normal;
  position: absolute;
  width: var(--toolitp-width);
  min-width: var(--toolitp-width);
  margin: 0 0 var(--tooltip-offset) 0;
  padding: var(--tooltip-padding);
  color: var(--tooltip-color);
  background: var(--tooltip-background);
  border-radius: var(--tooltip-border-radius);
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.15s ease-out;
  box-shadow: var(--tooltip-shadow);
  z-index: var(--tooltip-zindex);
}

.tooltip-content.active {
  visibility: visible;
  opacity: 1;
}

/* tooltip positioning */
.tooltip-content.top {
  bottom: 100%;
  left: 50%;
  margin: 0 0 15px 0;
}

.tooltip-content.bottom {
  top: 100%;
  left: 50%;
  margin: 15px 0 0 0;
}

.tooltip-content.left {
  top: 50%;
  left: auto;
  right: 100%;
  margin: 0 15px 0 0;
  transform: translate(0, -50%);
}

.tooltip-content.right {
  top: 50%;
  left: 100%;
  margin: 0 0 0 15px;
  transform: translate(0, -50%);
}

/* tip styling */
.tooltip-content::after {
  position: absolute;
  width: 0;
  height: 0;
  content: " ";
}

.tooltip-content.top::after {
  bottom: calc(-1 * var(--tooltip-tip-width));
  left: 50%;
  margin-left: calc(-1 * var(--tooltip-tip-width));
  border-left: var(--tooltip-tip-width) solid transparent;
  border-right: var(--tooltip-tip-width) solid transparent;
  border-top: var(--tooltip-tip-width) solid var(--tooltip-background);
}

.tooltip-content.bottom::after {
  top: calc(-1 * var(--tooltip-tip-width));
  left: 50%;
  margin-left: calc(-1 * var(--tooltip-tip-width));
  border-bottom: var(--tooltip-tip-width) solid var(--tooltip-background);
  border-left: var(--tooltip-tip-width) solid transparent;
  border-right: var(--tooltip-tip-width) solid transparent;
}

.tooltip-content.right::after {
  top: 50%;
  left: calc(-1 * var(--tooltip-tip-width));
  right: auto;
  margin-top: calc(-1 * var(--tooltip-tip-width));
  border-top: var(--tooltip-tip-width) solid transparent;
  border-bottom: var(--tooltip-tip-width) solid transparent;
  border-left: 0;
  border-right: var(--tooltip-tip-width) solid var(--tooltip-background);
}

.tooltip-content.left::after {
  top: 50%;
  left: auto;
  right: calc(-1 * var(--tooltip-tip-width));
  margin-top: calc(-1 * var(--tooltip-tip-width));
  border-top: var(--tooltip-tip-width) solid transparent;
  border-bottom: var(--tooltip-tip-width) solid transparent;
  border-left: var(--tooltip-tip-width) solid var(--tooltip-background);
  border-right: 0;
}

.tooltip-button {
  padding: 0px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.24s;
  -webkit-transition: background-color 0.24s;
  -moz-transition: background-color 0.24s;
  -ms-transition: background-color 0.24s;
  -o-transition: background-color 0.24s;
}

.tooltip-content.tooltip-bottom {
  top: 100%;
  left: 50%;
  margin: 15px 0 0 0;
}

.tooltip-content.tooltip-bottom::after {
  top: calc(-1 * var(--tooltip-tip-width));
  left: 50%;
  margin-left: calc(-1 * var(--tooltip-tip-width));
  border-bottom: var(--tooltip-tip-width) solid var(--tooltip-background);
  border-left: var(--tooltip-tip-width) solid transparent;
  border-right: var(--tooltip-tip-width) solid transparent;
}

.tooltip-content.tooltip-top {
  top: initial;
  bottom: 100%;
  left: 50%;
  margin: 0 0 15px 0;
}

.tooltip-content.tooltip-top::after {
  bottom: initial;
  top: 100%;
  left: 50%;
  margin-left: calc(-1 * var(--tooltip-tip-width));
  border-left: var(--tooltip-tip-width) solid transparent;
  border-right: var(--tooltip-tip-width) solid transparent;
  border-top: var(--tooltip-tip-width) solid var(--tooltip-background);
  border-bottom: none;
}

.tooltip-heading {
  color: #fff;
  font-size: 18px;
  word-break: break-all;
}

.tooltip-para {
  color: #fff;
  font-size: 15px;
  white-space: normal;
  word-break: break-word;
}

.place-name {
  font-family: "Bw-Mitga-bold" !important;
  color: #1E2339;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 2px;
}

.place-dates {
  white-space: nowrap;
  font-size: 10px !important;
}

.search-input {
  height: 30px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  background-clip: padding-box;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.search-area {
  margin: 0 0 15px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.search-box .search-head {
  font-size: 12px;
  font-family: "Bw-Mitga-bold" !important;
  color: #1E2339;
  margin: 0;
  padding: 0 15px 0 0;
}
.search-box .search-input {
  margin: 0 10px 0 0;
}

.small-btn {
  min-height: 30px !important;
  line-height: 0px !important;
}

/*# sourceMappingURL=custom-style.css.map */
