@import "partials/partials";

$font-bold: 'Bw-Mitga-bold';

$color-dark: #1E2339;

.datatable-wrapper {
    table {
        box-shadow: none;
    }

    .dataTables_wrapper {
        width: 100%;
        border: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;

        .mdc-layout-grid {
            width: 100%;
        }

        .form-inline {
            label {
                justify-content: flex-start !important;
            }
        }
    }
}

div.dataTables_wrapper div.dataTables_info {
    font-size: 10px;
}

div.dataTables_wrapper {
    .dataTables_paginate {
        text-align: right;

        .pagination {
            justify-content: flex-end;

            button {
                height: auto;
                padding: 3px 10px;
                width: auto;
                min-width: initial;
                font-size: 10px !important;
            }
        }
    }
}

.mdc-data-table__cell {
    height: 40px !important;
    font-size: 10px !important;
}

div.dataTables_wrapper table.mdc-data-table__table thead tr th.sorting_asc,
div.dataTables_wrapper table.mdc-data-table__table thead tr th.sorting_desc,
div.dataTables_wrapper table.mdc-data-table__table thead tr th.sorting {
    color: #1E2339;
    font-family: $font-bold !important;
    background: #E1E5FF;
}

table.dataTable td.dt-control:before {
    height: 1.7em !important;
    width: 1.7em !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 21px !important;
    font-family: "Bw-Mitga-bold" !important;
    line-height: 32px !important;
}

.buttons-excel,
.buttons-pdf {
    background: none !important;
    text-transform: uppercase;
    font-size: 11px !important;
    padding: 7px 10px 8px 30px !important;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        left: 8px;
        top: 8px;
        width: 15px;
        height: 15px;
    }
}

.buttons-excel {
    &::before {
        background: #fff url(../../images/xlsx-icon.png) left top no-repeat;
        background-size: contain;
        width: 20px;
        height: 16px;
    }
}

.buttons-pdf {
    &::before {
        background: #fff url(../../images/pdf-icon.png) left top no-repeat;
        background-size: contain;
        width: 23px;
        height: 16px;
    }
}


@media (min-width: 576px) {
    .datatable-wrapper {
        .form-inline {
            label {
                justify-content: flex-start !important;
                font-size: 10px !important;
            }

            select.form-control {
                margin: 0 10px;
            }
        }
    }

    #example_filter {
        label {
            justify-content: flex-end !important;
        }
    }
}