.Inline-label {
    width: 150px;
    height: 19px;
    left: 315px;
    top: 368px;

    font-family: 'Bw Mitga';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: -0.02em;
    /*margin-bottom: 1rem;*/

    color: #292931;

}


.login-button{
    background-color:  #831BEE;
    color: #ffffff;
    height: 31px;
    width: 85px;
    font-size: 12px;
    border: 0.5px solid #831BEE;
    border-radius: 5px;
    margin-top: 12px;
    /*width: 85px; border-radius: 5px*/
}
.login-button-large{
    background-color:  #831BEE;
    color: #ffffff;
    height: 31px;
    width: 120px;
    font-size: 12px;
    border: 0.5px solid #831BEE;
    border-radius: 5px;
    /*margin-top: 12px;*/
    /*width: 85px; border-radius: 5px*/
}

.login-input
{
    background-color: #F9F9F9;
    box-sizing: border-box;
    color: #787486 !important;
    width: 227px;
    height: 34px;
    font-size: 12px;


    /*background: #e9e9e9;;*/
    border: 0.5px solid #c3c3c3;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    /*padding-left: 15px;*/
}

.login-input::placeholder{
    color: grey;
}


.login-input:focus{
    outline-color:#831BEE;
    outline-width: thin;
}
.login-input:focus{
    outline-color:#831BEE;
    outline-width: 1px;
}

.logo-small{
    width: 130px;
    height: 60px;
    /*margin-top: 20px;*/
}

.divider-small {
    border-bottom: 2px solid #586ADA;
    width: 130px;
    height: 0px;
    margin-left: 0;
    margin-bottom: 0;
    bottom: 0;
    margin-top: 0.17rem;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    font-size: 14px;
}

