/* 
* @author Jinsan T J
* Style sheet for width related elements
 */

:root {
    --dark-color: #1E2339;
    --primary-font-regular: 'Bw-Mitga-regular';
    --primary-font-bold: 'Bw-Mitga-bold';
}

@media (min-width: 768px) {
    .large-modal-wrapper {
        max-width: 750px;
    }

}

.data-content .fit-width-230px {
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;
    max-width: 230px;
    padding-right: 0;
}

.data-content .fit-width-215px {
    -ms-flex: 0 0 215px;
    flex: 0 0 215px;
    max-width: 215px;
    padding-right: 0;
}

.data-content .fit-width-112px {
    -ms-flex: 0 0 112px;
    flex: 0 0 112px;
    max-width: 112px;
    padding-right: 0;
}

.data-content .fit-width-105px {
    -ms-flex: 0 0 105px;
    flex: 0 0 105px;
    max-width: 105px;
    padding-right: 0;
}

.data-content .fit-width-70px {
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    max-width: 70px;
    padding-right: 0;
}

table :where(label, p) {
    display: inline;
}

.room-row-single .room-left {
    width: 40%;
}

.room-center {
    width: 25%;
    justify-content: flex-start;
}

.room-right {
    width: 35%;
}

.modal-backdrop {
    background: rgb(0 0 0 / 27%);
}

.hasDatepicker {
    margin: 0;
    border: none;
    min-height: 30px;
    text-align: left;
    text-indent: 0 !important;
    padding: 0 10px !important;
    border: 1px solid #D2D2D2;
}

.hasDatepicker::placeholder {
    color: #1E2339;
}

.hasDatepicker:focus {
    outline: none;
}