
.thtablerow-slab {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #586ADA !important;
    color: white !important;
    font-family: Bw-Mitga-regular;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    height: 33px;
    text-align: center;
    border-radius: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    border-bottom: 0px solid !important;
    /*border-bottom: 0px solid #111 !important;*/

}



.select2-container .select2-search--inline .select2-search__field
{
    height: 22px !important;
    text-indent: 11px !important;
}

.thtableguestcount {
    color: #FFFFFF !important;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #586ADA !important;
    color: white;
    font-family: Bw-Mitga-regular;
    font-style: normal;
    font-weight: 200;
    font-size: 11px;
    height: 33px;
    text-align: center;
}
.th-table-tarif-room {
    color: #FFFFFF !important;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #586ADA !important;
    color: white;
    font-family: Bw-Mitga-regular;
    font-style: normal;
    font-weight: 200;
    font-size: 11px;
    height: 33px;
    text-align: center;
}


.th-table-tarif-room th {
    background-color: #586ADA !important;
    color: white;
}
.thtableguestcount th {
    background-color: #586ADA !important;
    color: white;
}

.user-profile-center {
    height: 175px;
    margin: auto;
    width: 59%;
    /* padding: 4px; */
    text-align: center;

}
.profile-image-radius
{
    border-radius: 50%;
    width:170px !important;
}

.profile-image {
    height: 188px;
    width: auto;
    /*background-color: #7abaff;*/
    margin-top: -23px;
}
.guestcountpopup th {
    background-color: #586ADA !important;
    color: white;

}


.thtableaccomadation th{
    background-color: #586ADA !important;
    color: white;
}

.accordion-top {
    background-color: #586ADA !important;
    color: white;
}




.content-contr .data-content .tab-section .tab-pane .accordion .accordion-item .accordion-top.collapsed {
    background: #03238399 !important;
}

.content-contr .data-content .tab-section .nav.nav-pills .nav-item .nav-link::after
{
    bottom: -6px;
}
.data-content .fit-width-215px {
    -ms-flex: 0 0 215px;
    flex: 0 0 269px;
}

.data-content .fit-width-215px {
    -ms-flex: 0 0 215px;
    flex: 0 0 231px;
    max-width: 256px;
    padding-right: 0;
}
.child-policy-property-table th{
    background-color: #586ADA !important;
    color: white;
    border-radius: 0 !important;
}
.nationalityTable-th-class th {
    background-color: #586ADA !important;
    color: white;
    border-left-radius: 0px solid #111 !important;
}
.table-responsive {
    border-radius: 0px !important;
}

.table3enquiryclass th
{
    font-size: 12px !important;
}
.button-font-size-12
{
    font-size: 12px !important;
}

input::placeholder {
    font-family: Bw-Mitga-regular !important;
    font-style: normal !important;
    font-size: 12px !important;
    padding-bottom: 16px !important;
}
.btn-white-letter {
    color: white!important;
}
.btn-search-tariff {
    background-color: #586ADA; color: white;
}
.btn-print-tariff {
    background-color: #e40e6a; color: white;
}
.btn-print-tariff :hover {
    background: #007487;
}
.custom-control-label {
    vertical-align: middle !important;
}

.room-categories .category-item.active {
    color: var(--white-color);
    background-color: #0d1c7d;
}

.tariff_table { border-collapse: collapse; margin: auto;
    width: 100% !important; }
.tariff_table th { text-align: right; border: solid 1px #777; }

.tariff_table td { border: solid 1px #777; }
.tariff_table th { background-color: #586ADA !important;
    color: white !important;
    top: 0 !important;
}
table thead tr th:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

table thead tr th:last-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
table thead tr {
    color: #FFFFFF;
    background-color: var(--secondary-color);
    /*height: 45px;*/
    height: 31px;
}
.datepicker th{
    background: #FFFFFF !important;
    color: black !important;
}

.input-text-width-100px
{
    width: 115px !important;
    display: inline;
}
.font-type
{

}

::placeholder {
    color: grey;
    font-size: 12px;
}
input::placeholder {

    font-family: Bw-Mitga-regular;
    font-style: normal;
    padding-left: 3px;
    font-size: 12px;
    padding-bottom: 16px;
    color: grey;
}
.form-group input[type="text"].form-control
{
    color: #4b4b4c !important
}

.select2.select2-container .select2-selection--single .select2-selection__rendered {
    color: #38314f !important;
}

.badge-secondary {
    color: #fff !important;
    background-color: #02a917 !important;
}

.form-input-padding {
    margin-bottom: 0.2rem;
}

.form-checkin-out
{
    background: #FFFFFF;
     border: 0px solid #c7b4b4;
     border-radius: 0px !important;
    width: 166px !important;
    padding: 0px 44px;
}

.form-checkin-out-content
{

    padding-top: 1px !important;
    padding-bottom: 0px !important;
    padding-left: 24px !important;

}

.content-contr .data-content .tab-section .tab-pane .accordion .accordion-item .accordion-content .form-checkin {
     background: #FFFFFF;
     border: 0.0px solid #BCBCBC;
    border-radius: 10px;
    width: 158px;
    padding: 0px 48px;
}
.m4r
{
    margin-right: 1.5rem!important;
    margin-bottom: -16px !important;
}
/*#content-close {*/
/*    position: relative;*/
/*}*/
/*#content-close img {*/

/*    position: absolute;*/
/*    top: 0px;*/
/*    right: 0px;*/
/*}*/
.image-close-pos
{
    height: 25px !important;
    margin-top: -54px !important;
    margin-right: -29p !important;
    margin-left: 105px;
}
.badge-pill {
     border-radius: 0rem;
}
.padding-time
{
  padding: 2px !important;
    width: 67px !important;
}
.size-badge
{
    height: 19px !important;
    width: 50px !important;
    border: 0px solid #685080 !important;
    background: #685080 !important;

}
.card-overflow-hidden
{
    overflow: hidden;
}
.span-gap
{
    margin-right: 3px;
}
.span-gap-image
{
    margin-right: 3px;
}
.font-span
{
    font-size: 12px !important;
}
.line-through-text
{
    text-decoration: line-through;
}
.under-text
{
    text-decoration: underline;
}
.font-color-E40967
{
    color: #E40967 !important;
}

.Labelclass-filter {
    /*width: 120px;*/
    margin-left: 14px;
    height: 14px;
    left: 315px;
    top: 368px;
    font-family: Bw-Mitga-regular !important;
    font-style: normal;
    font-weight: 700;
    font-size: 14px !important;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #292931;
}
.search-card-list{
    /*border-box:0px solid rgba(0,0,0,.125) !important;*/

    border-radius: 10px !important;
    height: 100px !important;
    background-color: #ffffff !important;
    margin-top: 18px;
    margin-right: 5px !important;
    margin-left: 4px !important;
    margin-bottom: 24px !important;
    box-shadow: 10px 10px -14px 14px #e3e3e3;
}

.search-card-list-loader{
    /*border-box:0px solid rgba(0,0,0,.125) !important;*/

    border-radius: 10px !important;
    height: 100px !important;
    background-color: #ffffff !important;
    margin-top: 18px;
    margin-right: 5px !important;
    margin-left: 4px !important;
    margin-bottom: 24px !important;
    /*box-shadow: 10px 10px -14px 14px #e3e3e3;*/
    box-shadow: 1px 0px 2px rgb(0 0 0 / 25%);
}


.search-top-card-list{
    /*border-box:0px solid rgba(0,0,0,.125) !important;*/
/*position: sticky;*/
    border-radius: 10px !important;
    height:  75px !important;
    background-color: #ffffff !important;
    margin-top: 18px;
    margin-right: 5px !important;
    margin-left: 4px !important;
    margin-bottom: 24px !important;
    /*box-shadow: 10px 10px -14px 14px #e3e3e3;*/
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    /*z-index: 1;*/
    /*display: none;*/

}
.search-box-top{
    width: 91% !important;
    /*border-box:0px solid rgba(0,0,0,.125) !important;*/
    position: absolute;
    border-radius: 10px !important;
    height:  75px !important;
    background-color: #ffffff !important;
    margin-top: 1px;
    margin-right: 5px !important;
    margin-left: 5px !important;
    margin-bottom: 24px !important;
    /*box-shadow: 10px 10px -14px 14px #e3e3e3;*/
    box-shadow: 1px 0px 2px rgb(0 0 0 / 25%);
    z-index: 1;
    display: none;

}




.search-top-card-input{
    /*border-box:0px solid rgba(0,0,0,.125) !important;*/
width: 140px;
    margin: 23px;

    height:  30px !important;
    background-color: #e9e7e7 !important;
    /*margin-top: 18px;*/
    /*margin-right: 5px !important;*/
    /*margin-left: 4px !important;*/
    /*margin-bottom: 24px !important;*/
    box-shadow: 10px 10px -14px 14px #e3e3e3;
}
.margin-top-12px-rules
               {
                   margin-top: 12px !important;
               }

.search-top-card-label{

    background-color: #FFFFFF !important;
    border: 1px solid rgba(1,2,2,.125);
    /*border-radius:20px !important;*/
    box-shadow: 10px 10px -14px 14px #e3e3e3;
}

.search-top-filer{
height: 30px !important;
    background-color: #FFFFFF !important;
    border: 1px solid rgba(1,2,2,.125);
    /*border-radius:20px !important;*/
    box-shadow: 10px 10px -14px 14px #e3e3e3;
}

.serach-hotelHeading
{
    font-size: 16px;
    padding-top: 4px;
    font-family: Bw-Mitga-bold;
    font-style: normal;
    color: black;
    /*font-weight: 700;*/
    inline-size: 1px;
    margin-right: 3px;
}

.image-search-property
{

    width: 96px;
    height: 96px;
    padding: 13px;
}
.color-140F0F
{
    color:#140F0F !important;
}
.color-586ADA
{
    color: #586ADA !important;
}

.font-bw-mitga
{
    font-family: Bw-Mitga-regular;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.02em;
}
.font-bw-mitga-low-weight
{
    font-family: Bw-Mitga-regular;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.02em;
}

.font-bw-mitga-text
{
    font-family: Bw-Mitga-regular;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.02em;
}


.margin-right-search-img
{
    margin-left: 3px;
    margin-right: 2px;
}

/*#flex-row-search*/
/*{*/
/*    display: flex;*/
/*    height: 30px;*/
/*    flex-wrap: wrap;*/
/*    flex-direction: row-reverse;*/
/*}*/
/*#flex-row-search div {*/

/*}*/

/*#flex-row-search div:nth-of-type(1) {*/

/*    background: #0d1c7d;*/


/*}#flex-row-search div:nth-of-type(2) {*/
/*    background: #0d1c7d;*/


/*}#flex-row-search div:nth-of-type(3) {*/
/*    background: #0d1c7d;*/


/*}*/


#flex-row-search {

   width: 140px;
    height: 30px;
    display: flex;

    flex-direction: row-reverse;

}

#flex-row-search div {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25px;
}
#flex-row-search div:nth-of-type(1) {
    margin-left: 5px;
    width: 30px;
    height: 100px;
    text-align: left;

}
#flex-row-search div:nth-of-type(2) {
  width: 30px;
    height: 90px;
    text-align: left;
}
#flex-row-search div:nth-of-type(3) {
    width: 30px;
    height: 90px;
   float: right;
}
#flex-row-search div:nth-of-type(4) {
    width: 30px;
    height: 90px;
   float: left;
}
.bed-icon-style
{
    margin-left: 3px;
    margin-right: 3px;
    height: 19px;
    margin-bottom: 3px;
}
.align-right
{
    position: absolute;
    bottom: 0;
    right: 0;
}
.margin-12px
{
    margin-right: 12px;
}
.image-width-height
{
    width: 21px;
    height: 22px;
    cursor: pointer;
}
.image-width-height-2
{
    width: 25px;
    height: 26px;
    cursor: pointer;
}
.badge-css
{
    background:#FFEFC3 ;
    color:#AF8E33 ;
}


.display-none
{
    display: none;
}
#Div2 {
    display: block;
}
/*.scroll-search-filer*/
/*{*/
/*    max-height: 600px;*/
/*overflow: scroll;*/
/*}*/
/*.scroll-search-filer::-webkit-scrollbar {*/
/*    width: 12px;*/
/*}*/

/*.scroll-search-filer::-webkit-scrollbar-track {*/
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*    border-radius: 10px;*/
/*}*/

/*.scroll-search-filer::-webkit-scrollbar-thumb {*/
/*    border-radius: 10px;*/
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
/*}*/

select:focus{
    outline-color:#586ADA;
    outline-width: thin;
}
.select
{
    text-indent: 11px !important;
}
.select-rules
{
    text-indent: 11px !important;
}
.font-size-13px
{
    font-size: 13px !important;
}
.input-class-room
{
    /*width: 200px !important;*/
    /*height: 35px !important;*/
    /*margin-left: 7px;*/

}
.thtablerules {
    color: #FFFFFF !important;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color:#bbc0f7 !important;
    color: white;
    font-family: Bw-Mitga-regular;
    font-style: normal;
    font-weight: 200;
    font-size: 11px;
    height: 33px;
    text-align: center;
}
.table-class-border
{
    border: 1px solid #bbc0f7 !important;
}
p, select, option, table, table th, table td, input, label, button {
    font-size: 12px !important;
    font-family: Bw-Mitga-regular !important;
    /*color: var(--font-primary-color);*/
}
.h6, h6 {
    font-size: .7rem !important;
}
.temp-margin1
{
    margin-left: 101px !important;
}
.temp-margin2
{
    margin-left: 88px !important;
}
.card-border
{
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 4px 39px 9px rgb(81 69 159 / 9%);
    margin-bottom: 10px;
    /*padding: 17.24px 33.13px;*/
}

.change::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ef1e48;
}
.change:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ef1e48;
    opacity: 1;
}
.change::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ef1e48;
    opacity: 1;
}
.change:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ef1e48;
}
.number-align-right
{
    text-align: right !important;
    padding-right: 10px!important;
}
.color-red
{
    color: red !important;
}

 .change-form-control {
     width: 45% !important;
 }

.search-align{
    width: 130px !important;
    padding-top: 30px !important;
    text-align: right;
}
.class-sentence
{
    color: red !important;
    display: flex;
    font-size: 12px;
    margin-left: 30%;
    margin-top: -25px;
}
fit-width-100px
{
    width: 80px !important;
}
fit-width-60px
{
    width: 69px !important;
}

.tex-indent
{
    text-indent: 0 !important;
}
.padding1{
    padding-top: 22px !important;
}
.padding2{
    padding-top:13px !important;
}
.padding3{
    padding-top: 15px !important;
}
.mb-2, .my-2 {
    margin-bottom: 0rem!important;
}

.mandatory-date
{
    width: 100px !important;
}
.mandatory-Inclusion
 {
    width: 350px !important;
    height: 33px !important;
    margin-top: 14px !important;
    margin-bottom: 0px !important;
}