

/*table th*/
/*{*/
/*    background: #586ADA !important;*/
/*    color: white !important;*/
/*}*/

/*table th  {*/
/*    color: #FFFFFF;*/
/*    background-color: var(--secondary-color);*/
/*    !*height: 45px;*!*/
/*    height: 31px;*/
/*}*/

.thtablerow-slab {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #586ADA !important;
    color: white !important;
    font-family: 'Bw Mitga';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    height: 33px;
    text-align: center;
    border-radius: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    border-bottom: 0px solid !important;
    /*border-bottom: 0px solid #111 !important;*/

}



.select2-container .select2-search--inline .select2-search__field
{
    height: 22px !important;
}

.thtableguestcount {
    color: #FFFFFF !important;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #586ADA !important;
    color: white;
    font-family: 'Bw Mitga';
    font-style: normal;
    font-weight: 200;
    font-size: 11px;
    height: 33px;
    text-align: center;
}


.thtableguestcount th {
    background-color: #586ADA !important;
    color: white;

}

.thtableaccomadation th{
    background-color: #586ADA !important;
    color: white;
}

.accordion-top {
    background-color: #586ADA !important;
    color: white;
}




.content-contr .data-content .tab-section .tab-pane .accordion .accordion-item .accordion-top.collapsed {
    background: #06195199 !important;
}

.content-contr .data-content .tab-section .nav.nav-pills .nav-item .nav-link::after
{
    bottom: -6px;
}
.data-content .fit-width-215px {
    -ms-flex: 0 0 215px;
    flex: 0 0 269px;
}

.data-content .fit-width-215px {
    -ms-flex: 0 0 215px;
    flex: 0 0 231px;
    max-width: 256px;
    padding-right: 0;
}
.child-policy-property-table th{
    background-color: #586ADA !important;
    color: white;
    border-radius: 0 !important;
}
.nationalityTable-th-class th {
    background-color: #586ADA !important;
    color: white;
    border-left-radius: 0px solid #111 !important;
}
.table-responsive {
    border-radius: 0px !important;
}