
.topbar {

    height:  6.05rem;
}

sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: center;
}

.btnunder {
    border-bottom: 9px solid gold;
    border-radius: 5px;
    position: relative;
    border-collapse: separate;

}
.selectedButton
{
    margin-right: 57px;
    border: 0px;
    background: #586ADA;
    /*margin-left: 3px;*/
    margin-top: 12px;
    /* padding-left: 14px; */
    width: 130px;
    /*height: 22px;*/
    border: 0px solid #c3c3c3;
    border-radius: 5px;
    font-family: 'Bw Mitga';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #ffffff;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}

.prevbutton
{
    color: #787486;
    height: 31px;
    width: 158px;
    font-size: 12px;
    border: 0.5px solid #586ADA;
    border-radius: 10px;
    margin-top: 12px;
}
.buttonSave
{
    background-color: #586ADA;
    color: #ffffff;
    height: 31px;
    width: 158px;
    font-size: 12px;
    border: 0.5px solid #586ADA;
    border-radius: 10px;
    margin-top: 12px;


}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;

}

.buttonSmall{
    background-color: #586ADA;
    color: #ffffff;
    height: 31px;
    width: 85px;
    font-size: 12px;
    border: 0.5px solid #586ADA;
    border-radius: 5px;
    margin-top: 12px;
    /*width: 85px; border-radius: 5px*/
}

#customers td
{
    padding-bottom: 12px;
    margin-top: 12px;
    font-size: 0.68rem;
    text-align: center;
}

#customers th {
    margin-bottom: 22px;
    height: 35px;


    font-size: 0.68rem;

}
input[type='number'] {text-indent:10px;  }
input[type='text'] {text-indent:10px;  }
tr {
    background-color: #ffffff;
    padding: 8px;
    text-indent:27px;

}



.radiolabel{
    font-style: normal;
    font-size: 12px;
    font: bold;

    color: black;
    margin-right: 10px;
}

.radiobtn
{
    margin-right: 10px;


}

input::placeholder {
    font: 12px/3 sans-serif;

    /*padding-left: 8px;*/
    font-size: 13px;
    padding-bottom: 16px;
}
.tablinks
{
    margin-right: 57px;
    border: 0px;
    background: #ffffff;
    cursor: pointer;
    /*margin-left: 3px;*/
    margin-top: 12px;
    /* padding-left: 14px; */
    width: 120px;
    /*height: 22px;*/
    border: 0px solid #c3c3c3;
    border-radius: 5px;
    font-family: 'Bw Mitga';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #292931;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}
::placeholder {
    color: #586ADA;
}
.thtable {
    padding-top: 12px;
    padding-bottom: 12px;

    background-color: #586ADA;
    color: white;
    font-weight: 20;

    font-size: 12px;
    overflow:hidden ;
    border-bottom-right-radius: 10px;

}
.table2class{
    margin: 12px;
    width: 400px;
    border: 0px;
    overflow:hidden ;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-spacing: 5px 10px;

}

.tariffTable
 {
     border: 1px solid #000;
 }
.tableinput{
    line-height: normal;
    margin-top: 12px;
    text-align: center;
}
.fromfate
{ margin-left: 5px;
    text-align: right;
    margin-right: 20px;
    font: bold;
    position: center;
    font-weight: 650;
}
.linehe{
    line-height: .5rem;
}
.smallclass
{
    inline-size:2px;
    padding-left: 40px;
    font-size: 12px;

}
 .smallclassnew
 {
     inline-size: 180px;
     width: 163px;
    display: flex;
    padding-top: 16px;
    font-size: 12px;
    margin-right: 10px;

}
.body {
   line-height: normal;
}
.tariffBorder
{
    height: 80px;
    border: 0.1px groove #efbebe;
    border-radius: 14px;
    margin-left: 3px;
    margin-right: 5px;
    padding-top: 20px;
    padding-left: 12px;
    background-color: #ffff;
}

.tableclass{

    margin: 15px;
    width: 400px;
    border: 0px;
    overflow:hidden ;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-spacing: 5px 10px;
}

.tableclass{

    margin: 15px;
    width: 400px;
    border: 0px;
    overflow:hidden ;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-spacing: 5px 10px;
}
.commontitlepadding
{
    padding-top: 12px;
}



.commonTitle
{
    font-size: 20px;
    padding-top: 4px;
    color: black;
    font-weight: 600;
    inline-size: 1px;
}
.card-title
{
    /*width: 99px;*/
    width: 200px;
    height: 22px;
    left: 316px;
    margin-bottom: 21px;
    /*text-decoration: underline;*/
    /*text-underline-position: under;*/

    /*text-underline-offset: 7px;*/

    /*font-family: 'Bw Mitga';*/
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #292931;

}
.spanrightpadding
{
    padding-right: 31px;
}

.tab
{
    padding-left: 3px;
    display: flex;flex-direction: row;
}
/*.navbar-nav*/
/*{*/
/*    background-color: dimgrey;*/
/*}*/
.line{
    position: absolute;
    width: 1545px;
    height: 0px;
    left: 316px;
    top: 305px;
    background-color: #C4C4C4;

}
.sidebar-dark .nav-item .nav-link {
    color: #A32C4F;
}
hr.new5 {
    border-bottom: 2px solid #586ADA;
    width: 130px;
    height: 0px;
    margin-left: 0;
    margin-bottom: 0;
    bottom: 0;
    margin-top: 0.17rem;
}
.tableinput
{
    width: 100px;
    height: 33px;
    margin-top: 24px
}
.btnAdd {
    color: white;
    background-color: #586ADA;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 0px solid ;

}
.modal {
    position: absolute;
    top: 180px;
    width: 400px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}
.tdcls
{
    width: 30px;

    white-space: nowrap;
}
.error-text
{

    background-color: #e9e9e9;
    box-sizing: border-box;
    border: 0.5px solid #c3c3c3;
    border-radius: 8px;

    flex: none;
    order: 2;
    flex-grow: 0;

    color: red;

    width: 100px;
    margin-top: 24px;
    height: 33px;
}
.a-table
{
    padding-left:11px;
}
.inputTextClass
{
    background-color: #F9F9F9;
    box-sizing: border-box;
    color: #787486 !important;
    width: 227px;
    height: 34px;
    font-size: 12px;


    /*background: #e9e9e9;;*/
    border: 0.5px solid #c3c3c3;
    border-radius: 8px;

    flex: none;
    order: 2;
    flex-grow: 0;
    padding-left: 15px;
}

.Labelclass {
    width: 150px;
    height: 19px;
    left: 315px;
    top: 368px;

    font-family: 'Bw Mitga';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -0.02em;

    color: #292931;

}


.inputLarge{
    background-color: #F9F9F9;
    box-sizing: border-box;
    color: #787486 !important;
    /*width: 100%;*/
    width: 444px;
    height: 34px;
    font-size: 12px;
    border: 0.5px solid #c3c3c3;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    padding-left: 15px;
}

input:focus{
    outline-color:#586ADA;
    outline-width: thin;
}
select:focus{
    outline-color:#586ADA;
    outline-width: thin;
}


.inputMedium
{
    background-color: #F9F9F9;
    box-sizing: border-box;
    color: #787486 !important;
    width: 300px;
    height: 34px;
    font-size: 12px;
    border: 0.5px solid #c3c3c3;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    padding-left: 15px;
}



/*image upload*/
.Neon {
    font-family: sans-serif;
    font-size: 14px;
    color: #494949;
    position: relative;
}
.Neon * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*operator image upload*/
.Neon-input-dragDrop {
    display: block;
    width: 100%;
    height: 200px;
    margin: 0 auto 25px auto;
    color: #E8E9ED;
    background: #fff;
    border: 2px dashed #C8CBCE;
    text-align: center;
}

.Neon-input-dragDrop-small {
    display: block;
    width: 219px;
    height: 120px;
    margin: 0 auto 25px auto;
    color: #E8E9ED;
    background: #fff;
    border: 2px dashed #C8CBCE;
    text-align: center;
}
/*property image upload*/
.Neon-input-dragDrop-property-logo{
    display: block;
    width: 200px;
    height: 210px;
    margin: 0 auto 25px auto;
    color: #E8E9ED;
    background: #fff;
    border: 2px dashed #C8CBCE;
    text-align: center;
}
.Neon-input-dragDrop-property-photo{
    display: block;
    width: 240px;
    height: 210px;
    margin: 0 auto 25px auto;
    color: #E8E9ED;
    background: #fff;
    border: 2px dashed #C8CBCE;
    text-align: center;
}


.Neon-input-dragDrop .Neon-input-icon {
    font-size: 100px;
    margin-bottom: -10px;
}
.Neon-input-text h3 {
    margin: 0;
    font-size: 12px;
    color: darkgrey;
}
.Neon-input-text span {
    font-size: 12px;
}
.Neon-input-choose-btn.blue {
    color: #008BFF;
    border: 1px solid #008BFF;
}
.Neon-input-choose-btn {
    display: inline-block;
    padding: 8px 14px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    color: #8d9496;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    vertical-align: middle;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.05);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.contact-head{
    margin-left: 3px;
    margin-top: 30px;
    width: 755px;
    height: 34px;
    background-color: #BDC4FF;
    border-radius: 6px;
}

.container-terms-conditions{
    display: block;
    position: relative;
    padding-left: 40px;
    padding-top: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    color: #0b0b0b;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.container-terms-conditions input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    /*top: 35px;*/
    top: 16px;
    left: 5px;
    height: 20px;
    width: 20px;
    background-color: white;
    border: .12rem solid #586ADA; border-radius: 3px;

}

/* When the checkbox is checked, add a blue background */
.container-terms-conditions input:checked ~ .checkmark {
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-terms-conditions input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-terms-conditions .checkmark:after {
    left: 5px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #586ADA;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}






