.topbar {

    height:  6.05rem;
}

sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: center;
}

.btnunder {
    border-bottom: 9px solid gold;
    border-radius: 5px;
    position: relative;
    border-collapse: separate;

}


.roomButtonRow {
    margin-left: 4px !important;
    margin-bottom: 12px !important;
}
.selectedButton
{
    margin-right: 57px;
    border: 0px;
    background: #586ADA;
    /*margin-left: 3px;*/
    margin-top: 12px;
    /* padding-left: 14px; */
    width: 130px;
    /*height: 22px;*/
    border: 0px solid #c3c3c3;
    border-radius: 5px;
    font-family: 'Bw Mitga';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #ffffff;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}
.selectedButtonmotherdaterange
{
    margin-right: 57px;
    border: 0px;
    background: #586ADA;
    margin-left: 13px;
    margin-top: 12px;
    /* padding-left: 14px; */
    width: 160px;
    /*height: 22px;*/
    border: 0px solid #c3c3c3;
    border-radius: 5px;
    font-family: 'Bw Mitga';
    font-style: normal;
    letter-spacing: .03rem;
    font-weight: 200;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height */
    color: #ffffff;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}

.prevbutton
{
    color: #787486;
    height: 31px;
    width: 158px;
    font-family: 'Bw Mitga';
    font-style: normal;
    font-size: 12px;
    border: 0.5px solid #586ADA;
    border-radius: 10px;
    margin-top: 12px;
}
.buttonSave
{
    background-color: #586ADA;
    color: #ffffff;
    height: 31px;
    width: 158px;
    font-family: 'Bw Mitga';
    font-style: normal;
    font-size: 12px;
    border: 0.5px solid #586ADA;
    border-radius: 10px;
    margin-top: 12px;


}

#customers {

    width: 80%;
    font-family: 'Bw Mitga';
    font-style: normal;

}
#rooms {

    width: 80%;
    font-family: 'Bw Mitga';
    font-style: normal;

}

.buttonSmall{
    background-color: #586ADA;
    color: #ffffff;
    height: 31px;
    width: 85px;
    font-family: 'Bw Mitga';
    font-style: normal;
    font-size: 12px;
    border: 0.5px solid #586ADA;
    border-radius: 5px;
    margin-top: 12px;
    /*width: 85px; border-radius: 5px*/
}
#tr-id th {
    color: black;

}

#customers td
{
    padding-bottom: 12px;
    margin-top: 12px;
    font-family: 'Bw Mitga';
    font-style: normal;
    font-size: 0.68rem;
    text-align: left;
}
.roomtablelabel {
    font-family: 'Bw Mitga';
    font-style: normal;
    font-size: 0.78rem;
    text-align: left;
    padding: 0px !important;
}
#rooms td
{
    padding-bottom: 12px;
    margin-top: 12px;
    padding-right: 14px;
    font-family: 'Bw Mitga';
    font-style: normal;
    font-size: 0.78rem;
    text-align: left;
}
}


#headingOne:focus {
    background-color: blue;
}
.tableborder {
    border: 4px solid blue !important;
    border-top-left-radius: 80px 80px !important;
}
#customers th {
    margin-bottom: 22px;
    height: 35px;

    font-family: 'Bw Mitga';
    font-style: normal;
    font-size: 0.68rem;

}
#rooms th {
    margin-bottom: 22px;
    height: 35px;

    font-family: 'Bw Mitga';
    font-style: normal;
    font-size: 0.78rem;

}


input[type='number'] {text-indent:10px;  }
input[type='text'] {text-indent:10px;  }
tr {
    background-color: #F9F9F9;
    padding: 8px;
    text-indent:27px;

}
#meals th {
    /*padding-left: 10px;*/
    height: 35px;

    font-family: 'Bw Mitga';
    font-style: normal;
    font-size: 0.78rem;
    background: #586ADA;
    color: white;
    text-align: center;

}
.matherdaterangetab {
    margin-left: 16px;
}

#meals td {

    font-family: 'Bw Mitga';
    font-style: normal;
    font-size: 0.78rem;
    text-align: left;
    color: #0b2e13;
}

.mealinputText
{
    margin: 15px;
    width: 100px;height: 33px;
    margin-top: 24px;
    background-color: #F9F9F9;
    box-sizing: border-box;
    color: #000000 !important;
    font-size: 12px;
    font-family: 'Bw Mitga';
    font-style: normal;
}

.radiolabel{
    font-family: 'Bw Mitga';
    font-style: normal;
    font-size: 12px;
    font: bold;

    color: black;
    margin-right: 10px;
}

.radiobtn
{
    margin-right: 10px;


}

select:focus
{
    outline-width: thin;
    outline-color: #586ada;
}

input:focus
{
    outline-width: thin;
    outline-color: #586ada;
    /*outline-color: #5a60ff;*/
}
input::placeholder {
    font: 12px/3 sans-serif;
    font-family: 'Bw Mitga';
    font-style: normal;
    padding-left: 3px;
    font-size: 13px;
    padding-bottom: 16px;
}
.tablinks2 {
    margin-right: 57px;
    border: 0px;
    background: #ffffff;
    cursor: pointer;
    /* margin-left: 3px; */
    margin-top: 12px;
    /* padding-left: 14px; */
    width: 120px;
    /* height: 22px; */
    border: 0px solid #c3c3c3;
    border-radius: 5px;
    font-family: 'Bw Mitga';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: .03em;
    color: #292931;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.tablinks
{


    margin-right: 57px;
    border: 0px;
    background: #ffffff;
    cursor: pointer;
    /*margin-left: 3px;*/
    margin-top: 12px;
    /* padding-left: 14px; */
    width: 120px;
    /*height: 22px;*/
    border: 0px solid #c3c3c3;
    border-radius: 5px;
    font-family: 'Bw Mitga';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height */

    letter-spacing: -0.03em;

    color: #292931;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}
::placeholder {
    color: deeppink;
}
.example1 {
    border: 2px solid red;
    padding: 10px;
    border-top-left-radius: 675px;
}

.thtable {
    padding-top: 12px;
    padding-bottom: 12px;

    background-color: #586ADA;
    color: white;
    font-family: 'Bw Mitga';
    font-style: normal;
    font-weight: 200;

    font-size: 12px;


}
.accordianbg:focus-within {
    background-color: #586ada !important;
}
.accordianbg {
    background-color: #bcc3f1 ;
}
.thtableAcoordion {
    padding-top: 12px;
    padding-bottom: 12px;

    background-color: #BCC3F1;
    color: white;
    font-family: 'Bw Mitga';
    font-style: normal;
    font-weight: 200;

    font-size: 12px;
    overflow:hidden ;
    border-bottom-right-radius: 10px;

}


.data-content {
    padding: 0.79px 30.33px !important;
}

.table2class
{
    font-family: 'Bw Mitga';
    font-style: normal;
    box-shadow: #51459F17;
    alignment: inherit;
    margin: 12px;
    width: 800px !important;
    border: 1px groove blue !important;
    border-top-left-radius: 45px !important;

}

.content-contr{
    padding: 0.79px 30.33px;
}

.flex-container {
    justify-content: right;
    display: flex;
    flex-wrap: nowrap;
    background-color: #ffffff;
}


.flex-containerDate {
    justify-content: left;
    flex-flow: row wrap;
    display: flex;
    background-color: #ffffff;
}

.editfa {
    color: #030326;
    margin-right: 16px;
}
.accordianText {

    font-family: 'Bw Mitga';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: .03em;
    color: #ffffff;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.buttonSaveroomrate
{
    background-color: #586ADA;
    color: #ffffff;
    width: 79px;
    height: 24px;
    margin-top: 0px;
    margin-right: 16px;
    font-family: 'Bw Mitga';
    font-style: normal;
    letter-spacing: .04em;
    font-size: 12px;
    border: 0.5px solid #586ADA;
    border-radius: 10px;



}






.hrtopmargin{
    margin-top: 0.71rem !important;
}


.motherdaterange-H6 {
    color: #292931;
    letter-spacing: -0.02em;
    /* line-height: 21px; */
    line-height: 1.2 !important;
}
.tickiconmotherdaterange {
    background-color: white;
    color: red;
    font-size: 31px;
    margin-right: 14px;
    margin-left: 9px;
}

.justifyleft {
    justify-content: left !important;
}

.accordion-toggle {
    background-color: #586ADA ;

}



.accordion-toggle.collapsed {
    background-color: #bcc3f1;
}
.accordionbg
{
    background-color:  #bcc3f1;

}
/*.accordionbg:focus-within*/
/*{*/
/*    background-color: #586ADA;*/
/*}*/


.tab-accordion {
    margin-bottom: 10px;
}

.tab-accordionTop {
    margin-top: 26px !important;

}

.accoOnfocus:active {

    background-color:yellow;
}
.tab-accordiondaterate {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 15px;
}



.hrdivider {
    margin-top: 0.1rem !important;
    margin-bottom: 1rem !important;
    border: 1 !important;

}
hr.new1 {
    width:10px;

    border-top: 2px solid black;

}
.firstcheckbox {

    margin-left: 12px !important;

}
hr.new2 {
    width: 256px;

    border-top: 1px solid black;

}

.flex-container > div {
    background-color: #ffffff;

    margin-right: 0px;
    text-align: right;
    line-height: 55px;
    font-size: 15px;
}
.tariffTable
{
    border: 1px solid #E8E9ED;
}
.tableinput{
    line-height: normal;
    margin-top: 12px;
    text-align: center;
}
.fromfate
{
    margin-left: 5px;
    text-align: right;
    margin-right: 20px;
    font: bold;
    position: center;
    font-weight: 650;
}
.linehe{
    line-height: .5rem;
}
.smallclass
{
    inline-size:2px;
    padding-left: 40px;
    font-size: 12px;

}
.icon {
    position: relative;
    /* Adjust these values accordingly */
    top: 5px;
    left: 5px;
}
.smallclassnew
{
    inline-size: 180px;
    width: 163px;
    display: flex;
    padding-top: 16px;
    font-size: 12px;
    margin-right: 10px;

}
body { padding-top: 1em; }
line-height: normal;
.table_mem,
.table_mem thead th,
.table_mem tbody tr,
.table_mem tbody td {
    border: 1px solid #000000 !important;
    border-radius: 20px;
    border-collapse: separate;
    text-align: center;
    padding: 7px;
}

.table_mem thead th {
    background-color: #9e9e9e;
}

.table_mem tbody tr {
    background-color: #e5e5e5;
    transition: .5s;
}

.table_mem tbody tr:hover {
    background-color: #bfbfbf;
}

/*.body {*/
/*    line-height: normal;*/
/*}*/
.h7class {
    padding-top: 0px;
    margin-right: 4px;
    font-size: 10px;
    line-height: 0;
}
.h9class {
    font-weight: 700;
    padding-top: 0px;
    margin-right: 4px;
    font-size: 10px;
    line-height: 0;
}

.h6class {
    padding-top: 7px;
    margin-right: 8px;

}
.motherdateRangeButton {

    margin-right: 20px;
    background-color: #E40968;
    color: #ffffff;
    height: 36px;
    width: 200px;
    font-family: 'Bw Mitga';
    font-style: normal;
    font-size: 13px;
    border: 0.5px solid #E40968;
    border-radius: 10px;
    margin-top: 12px;
}

.locatiospace {
    font-size: 10px;
    color: red;
    top: 0px;
    margin-right: 4px;
}
.plusbuttonspace {
    font-size: 17px;
    margin-right: 6px;
}


.daterangetitle {
    margin-left: 3px;
    font-family: 'Bw Mitga';
    font-style: normal;
    margin-bottom: 22px;
    font-size: 16px;
    padding-top: 0px;
    color: black;
    font-weight: 590;

}
.tariffBorder3
{
    line-height: 0px;
    height:fit-content !important;

    margin-left: 3px;
    margin-right: 5px;
    padding-top: 20px;
    padding-left: 12px;
    background-color: #ffff;
}
.tariffBorder1
{
    height:150px;
    border: 1px solid #E8E9ED;
    border-radius: 14px;
    margin-left: 3px;
    margin-right: 5px;
    padding-top: 20px;
    padding-left: 12px;
    background-color: #ffff;
}
.tariffBorder
{
    margin-top: 20px;

    width: 100%;
    height: 100%;
    border: 1px groove #E8E9ED;
    border-radius: 14px;
    margin-left: 3px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-left: 12px;
    background-color: #ffff;
}

.tableclass{

    margin: 15px;
    width: 400px;
    border: 1px groove blue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-spacing: 5px 10px;
}

.tablemealclass{
    border: .01rem  solid #586ADA !important;
    border-top-left-radius: 25px !important;;
    /*border-radius: 9px;*/
    width: fit-content;
    height: fit-content;
    margin: 15px;
    /*width: fit-content;*/
    /*border: 1px groove blue;*/
    font-family: 'Bw Mitga';
    font-style: normal;


    /*border-spacing: 5px 10px;*/

}
.mealfonttext
{
    font-family: 'Bw Mitga';
    font-style: normal;
    margin: 5px;
    background-color: #F9F9F9;
    box-sizing: border-box;
    color: #787486 !important;
    font-size: 12px;
    border: 0.1px solid #c3c3c3;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    width: 100px;
    height: 33px;

}
}
.commontitlepadding
{
    padding-top: 12px;
}

.linecls {
    display: inline;
    width:7px;
    border-top: 1px solid black;

}

.commonTitle
{height: 15%;
    font-size: 20px;
    padding-top: 4px;
    color: black;
    font-weight: 600;
    inline-size: 1px;
}
.hrMother
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    margin-left: 26px !important;
}
.labeldateclass {
    width: 120px;
    margin-left: 18px;
    height: 13px;
    left: 315px;
    top: 368px;
    font-family: 'Bw Mitga';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #292931;
}

.inputDate
{
    color: transparent;
    background: none;
    text-indent: 7px;
    margin-left: 18px;
    background-color: #F9F9F9;
    box-sizing: border-box;
    color: #787486 !important;
    width: 161px;
    height: 34px;
    font-size: 12px;
    border: 0.1px solid #c3c3c3;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.commonTitleMother2 {

    font-size: 19px;
    color: black;
    font-weight: 600;
;
}

.flex-container2 > div {


    text-align: left !important;

    /*!* font-size: 15px;*/


}
.nextbuttonMother
{


    width: 72px !important;
    height: 30px !important;
    margin-left: 5px !important;
}
.savebuttonMother {
    width: 72px;
    height: 30px;
    background-color: #E40968;
    border-color: #E40968;
}
.commonTitleMother {
    height: 15%;
    padding-left: 18px;
    font-size: 19px;
    padding-top: 25px;
    color: black;
    font-weight: 600;
    inline-size: 1px;
}

.commonTitleMother2 {
    height: 15%;
    /* padding-left: 27px; */
    font-size: 16px;
    /* padding-top: 25px; */
    color: black;
    font-weight: 600;
    inline-size: 1px;
}



.titleContaoner
{
    display: flex;
    flex-wrap: nowrap;
    background-color: #ffffff;

    margin-right: 7px;
    text-align: right;
    line-height: 55px;
    font-size: 15px;
}
.card-title
{
    margin-top: 22px;
    margin-bottom: 1.75rem !important;
    /*width: 99px;*/
    width: 200px;
    height: 22px;
    left: 316px;

    /*text-decoration: underline;*/
    /*text-underline-position: under;*/

    /*text-underline-offset: 7px;*/

    /*font-family: 'Bw Mitga';*/
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #292931;

}
.spanrightpadding
{
    padding-right: 31px;
}
.spanleftpadding
{
    padding-left: 3px;
}
.spanTextTable
{
    font-family: 'Bw Mitga';
    font-style: normal;
    color: black;
    text-indent: 2px !important;
    font-size: 15px;


}
,tdtextpad
 {
     padding-right:1px !important;
 }

.tab
{
    padding-left: 3px;
    display: flex;flex-direction: row;
}
/*.navbar-nav*/
/*{*/
/*    background-color: dimgrey;*/
/*}*/
.line{
    position: absolute;
    width: 1545px;
    height: 0px;
    left: 316px;
    top: 305px;
    background-color: #C4C4C4;

}
.sidebar-dark .nav-item .nav-link {
    color: #A32C4F;
}
hr.new5 {
    border-bottom: 2px solid #586ADA;
    width: 130px;
    height: 0px;
    margin-left: 0;
    margin-bottom: 0;
    bottom: 0;
    margin-top: 0.17rem;
}
.accordianstyle
{
    height: 35px !important;
    padding-left: 13px !important;
    padding-top: 2px !important;
}
.matherdaterangecard{
    /*border-box;border:0px solid rgba(0,0,0,.125) !important;*/
    height: 100px !important;
    background-color: #ffffff !important;
    margin-top: 24px;
    margin-right: 24px !important;
    margin-left: 17px !important;
    margin-bottom: 24px !important;
}

hr.new6 {
    border-bottom: 3px solid #586ADA;
    width: 161px;
    height: 0px;
    margin-left: 13px;
    margin-bottom: 0;
    bottom: 0;
    margin-top: 0.17rem;
}



.tableinput
{
    width: 100px;
    height: 33px;
    margin-top: 24px
}
.btnAdd {
    color: white;
    background-color: #586ADA;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 0px solid ;

}
.modal {
    position: absolute;
    top: 180px;
    width: 400px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}
.tdcls
{
    width: 30px;

    white-space: nowrap;
}
.error-text
{

    background-color: #e9e9e9;
    box-sizing: border-box;
    border: 0.5px solid #c3c3c3;
    border-radius: 8px;

    flex: none;
    order: 2;
    flex-grow: 0;

    color: red;

    width: 100px;
    margin-top: 24px;
    height: 33px;
}
.a-table
{
    padding-left:11px;
}
.inputTextClass
{
    background-color: #F9F9F9;
    box-sizing: border-box;
    color: #787486 !important;
    width: 227px;
    height: 34px;
    font-size: 12px;


    /*background: #e9e9e9;;*/
    border: 0.1px solid #c3c3c3;
    border-radius: 8px;

    flex: none;
    order: 2;
    flex-grow: 0;
}
.roomacord
{
    margin-left: 15px !important;
}
.inputTextroomtable
{
    background-color: #F9F9F9;
    box-sizing: border-box;
    color: #787486 !important;
    width: 100px;
    height: 33px;
    margin-top: 10px;
    font-size: 12px;
    /*background: #e9e9e9;;*/
    border: 0.1px solid #c3c3c3;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.cardpage
{
    margin-left: 5px
}
.addnewlabel
{
    padding-left: 3px !important;
}
.Labelclass {
    width: 120px;
    height: 19px;
    left: 315px;
    top: 368px;

    font-family: 'Bw Mitga';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -0.02em;

    color: #292931;

}